<div class="page-header">
    <h1>Arrangementer</h1>
</div>

<h2>Kommende arrangementer</h2>

<p ng-if="!upcoming">Laster data..</p>

<p ng-if="upcoming && upcoming.length == 0">
    Ingen arrangementer ble funnet.
</p>

<div ng-if="upcoming && upcoming.length > 0">
     <table class="table table-striped">
        <thead>
            <tr>
                <th>Tid</th>
                <th>Tittel</th>
                <th>Sted</th>
                <th>Billetter</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="event in upcoming">
                <td>
                    {{event.time_start-21600|formatdate:'DD.MM.YY'}}
                    <b>{{event.time_start|formatdate:'HH:mm'}}</b>
                </td>
                <td>
                    <span ng-show="event.category">{{event.category}}: </span>
                    <a ng-href="event/{{event.alias||event.id}}">{{event.title}}</a>
                </td>
                <td>{{event.location}}</td>

                <td>{{event.ticket_info||event.web_selling_status}}</td>
            </tr>
        </tbody>
    </table>
</div>


<h2>Arrangementgrupper</h2>
<ul>
    <li ng-repeat="group in eventgroups">
        <a ng-href="eventgroup/{{group.id}}">{{group.title}}</a>
    </li>
</ul>