<!doctype html>
<html lang="nb" prefix="og: http://ogp.me/ns#" ng-app="billett" ng-controller="PageController">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{meta.description}}">
    <meta name="author" content="UKA på Blindern">
    <base href="/billett/">
    <meta name="fragment" content="!">

    <meta property="og:title" content="{{meta.title||'UKA på Blindern'}}">
    <meta property="og:type" content="{{meta.ogType||'website'}}">
    <meta property="og:image" content="{{meta.ogImage||meta.image||domainUrl+'${require('./assets/graphics/uka_gul_pikto.gif')}'}}">
    <meta property="og:url" content="{{meta.url}}" ng-if="meta.url">
    <meta property="og:description" content="{{meta.ogDescription||meta.description}}" ng-if="meta.ogDescription||meta.description">
    <meta property="og:site_name" content="UKA på Blindern">
    <meta property="og:locale" content="nb_NO">
    <meta property="fb:admins" content="707840346">
    <meta property="fb:app_id" content="109019109266369" />

    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <title ng-bind="meta.title">UKA på Blindern</title>

    <script src="library.js"></script>
    <!-- angular-ui-utils not available in npm -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body ng-class="{'dev-page': isDevPage, isInIframe: isInIframe}">
    <div content-wrapper>Laster innhold...</div>
</body>
</html>
