@if (orderState.error) {
  <p>Feil: {{ orderState.error }}</p>
} @else if (!order || !payment) {
  <p>Vennligst vent...</p>
} @else {
  @if (payment.status == "ACCEPTED") {
    <billett-page-property name="title" value="Kvittering" />
  } @else {
    <billett-page-property name="title" value="Ordrebekreftelse" />
  }

  <div class="page-header">
    @if (payment.status != "ACCEPTED") {
      <h1>Kvittering</h1>
    } @else {
      <h1>Ordrebekreftelse</h1>
    }
  </div>

  @if (payment.status != "ACCEPTED") {
    <p>
      Din bestilling har blitt <b>vellykket gjennomført</b>. Du vil motta billett og kvittering på e-post. Kontroller at
      e-postadressen nedenfor er riktig. Kontakt
      <a href="mailto:billett@blindernuka.no">billett&#64;blindernuka.no</a>
      hvis du ikke mottar e-posten.
    </p>
  } @else {
    <p>Din ordre er registrert og du vil motta e-post så fort betalingen blir registrert.</p>
  }

  <h2>Ordreinformasjon</h2>
  <dl class="dl-horizontal">
    <dt>Navn</dt>
    <dd>{{ order.name }}</dd>
    <dt>E-post</dt>
    <dd>{{ order.email }}</dd>
    <dt>Telefon</dt>
    <dd>{{ order.phone }}</dd>
  </dl>
  <dl class="dl-horizontal">
    <!--<dt>Kortnummer</dt>
    <dd>po_cardnomask</dd>-->
    <dt>Transaksjonsnummer</dt>
    <dd>{{ payment.transaction_id }}</dd>
    <dt>Ordrenummer</dt>
    <dd>{{ order.order_text_id }}</dd>
    <dt>Kjøpstidspunkt</dt>
    <dd>{{ order.time | formatdate: "dddd D. MMMM YYYY HH:mm:ss" }}</dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>Merverdiavgift</dt>
    <dd>{{ "0" | price: true }}</dd>
    <dt>Totalbeløp</dt>
    <dd>
      {{ payment.amount | price: true }}
      @if (payment.status != "ACCEPTED") {
        <span> har blitt belastet ditt kort</span>
      }
    </dd>
  </dl>

  <h3>Billettspesifikasjon</h3>
  <ul>
    @for (ticket of order.tickets; track ticket.id) {
      <li>
        {{ ticket.event.time_start | formatdate: "DD.MM.YYYY HH:mm" }}: {{ ticket.event.title }}:
        {{ ticket.ticketgroup.title }} ({{ ticket.ticketgroup.price + ticket.ticketgroup.fee | price: true
        }}<!--
      -->
        @if (ticket.ticketgroup.fee) {
          hvorav {{ ticket.ticketgroup.fee | price: true }} i billettgebyr
        }
        <!--
      -->) (#{{ ticket.number }})
      </li>
    }
  </ul>

  <p>Vi håper du får en flott opplevelse på UKA på Blindern!</p>
}
