h1 .eventgroup a {
	display: block;
	font-size: 14px;
	color: #888;
	text-transform: uppercase;
}

.eventdate-header {
    color: #888;
    font-size: 60%;
}

.table-tbody-spacing > tbody:before {
    line-height: 10px;
    content: '-';
    visibility: hidden;
    display: block;
}
