@import '../../common/vars';

.event-page {
  h1 {
    .eventdate-header {
      color: #888;
      font-size: 60%;
    }
  }

  @media (min-width: $screen-sm-min) {
    .no-buy-form {
      margin-left: percentage((3.5 / 12));
    }
  }

  .event-image {
    margin: 0 0 1em;
    text-align: center;
  }

  .dl-horizontal {
    border-top: 1px solid $hr-border;
    margin: 20px 0 0;
    padding: 10px 0 0;
    dt, dd {
      margin-top: 10px;
    }
    @media (min-width: $screen-sm-min) {
      dt {
        width: 80px;
      }
      dd {
        margin-left: 100px;
      }
    }
  }

  /*.dl-horizontal + .event-description {
      border-top: 1px solid $hr-border;
      padding-top: 20px;
  }*/

  .event-description {
    border-top: 1px solid $hr-border;
    padding-top: 20px;
    margin: 20px 0 0;
    & :last-child {
      margin-bottom: 0;
    }
  }

  .event-link {
    border-top: 1px solid $hr-border;
    padding-top: 20px;
    margin: 20px 0 0;
    text-align: center;
  }

  .event-right-col > div {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid $hr-border;
    @media (min-width: $screen-sm-min) {
      & {
        margin-top: 0;
        border-top: none;
        padding-top: 0;
      }
    }
  }

  .selling-text > :last-child {
    margin-bottom: 0;
  }

  .buy-form {
    .ticketgroup {
      margin-bottom: 10px;
      .meta {
        display: inline-block;
        vertical-align: middle;
        width: 70%;
        .title {
          font-weight: bold;
        }
        .price {
          white-space: nowrap;
          .price-label {

          }
          .price-fee {
            display: block;
            color: $gray-light;
            font-size: 75%;
          }
        }
        .ticket-text {
          color: $gray-light;
          font-size: 90%;
          margin-top: 2px;
        }
      }
      .count {
        display: inline-block;
        vertical-align: middle;
        width: 30%;
        text-align: right;
        white-space: nowrap;
        .value {

        }
        button {
          margin-left: 3px;
        }
      }
    }

    @media (min-width: $screen-sm-min) {
      .title, .price {
        display: inline-block;
        vertical-align: middle;
        width: 55%;
      }
      .price {
        width: 45%;
        text-align: right;
        .price-label {
          display: none;
        }
      }
      .count {
        margin-top: 2px;
      }
    }

    .reservation-ticket-price {
      color: $gray-light;
      font-size: 85%;
      display: block;
      margin-top: -2px;
    }

    .reservation-details {
      opacity: 1;
      transition: 0.3s linear all;
      &.ng-enter {
        opacity: 0;
        &.ng-enter-active {
          opacity: 1;
        }
      }
      &.ng-leave {
        /*opacity: 1;*/
        &.ng-leave-active {
          opacity: 0;
        }
      }
    }
  }
}
