<style>
  hr {
    margin: 0;
  }

  .tickets {
    td {
      vertical-align: middle;
    }
    tr > :nth-child(5),
    tr > :nth-child(6) {
      text-align: right;
    }
    tr.revoked {
      opacity: 0.7;
      td:nth-child(3) {
        a {
          text-decoration: line-through;
        }
      }
      td:nth-child(5),
      td:nth-child(6) {
        text-decoration: line-through;
      }
    }
    tr.invalid {
      opacity: 0.7;
    }
    td:last-child {
      text-align: right;
    }
  }

  .payments {
    td {
      vertical-align: middle;
    }
    tr > :nth-child(2) {
      text-align: right;
    }
  }
</style>

<billett-page-states [state]="pageState" />
<billett-page-property name="title" value="Ordre" />

@if (order) {
  <billett-page-property name="title" value="Ordre: {{ order.order_text_id }}" />

  <div class="page-header">
    <h1>
      <span class="eventgroup">
        <a routerLink="/a/orders" [queryParams]="{ eventgroup_id: order.eventgroup.id }">
          {{ order.eventgroup.title }}
        </a>
      </span>
      Ordre: {{ order.order_text_id }}

      <span class="pull-right">
        <a class="btn btn-success" routerLink="/a/order/new/{{ order.eventgroup.id }}" accesskey="n">Ny ordre</a>
        <button class="btn btn-primary" type="button" (click)="startEdit()" accesskey="e">Rediger</button>
        @if (order.is_valid) {
          <button class="btn btn-default" type="button" (click)="sendEmail()">Send e-post</button>
        }
      </span>
    </h1>
  </div>

  @if (edit) {
    <form (ngSubmit)="save()" class="form-horizontal" autocomplete="off" ngNativeValidate>
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Navn</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="edit.name"
            id="name"
            name="name"
            placeholder="(valgfritt)"
            autofocus=""
          />
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">E-postadresse</label>
        <div class="col-sm-6">
          <input
            type="email"
            class="form-control"
            [(ngModel)]="edit.email"
            id="email"
            name="email"
            placeholder="(valgfritt)"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="phone" class="col-sm-2 control-label">Telefon</label>
        <div class="col-sm-6">
          <input
            type="tel"
            class="form-control"
            [(ngModel)]="edit.phone"
            id="phone"
            name="phone"
            placeholder="(valgfritt)"
            pattern="\+?\d+"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="recruiter" class="col-sm-2 control-label">Vervet av</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="edit.recruiter"
            id="recruiter"
            name="recruiter"
            placeholder="(valgfritt)"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="comment" class="col-sm-2 control-label">Kommentar</label>
        <div class="col-sm-6">
          <textarea
            class="form-control"
            [(ngModel)]="edit.comment"
            id="comment"
            name="comment"
            rows="5"
            placeholder="(valgfritt)"
          ></textarea>
          <span class="help-block">Kommentar er ikke synlig for kunden.</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-2">
          <input type="submit" value="Oppdater" class="btn btn-primary" />
          <button class="btn btn-link" type="button" (click)="abortEdit()">Avbryt</button>
        </div>
      </div>
    </form>
  }

  @if (!edit) {
    @if (!order.is_valid) {
      <div class="alert alert-warning">
        <p>
          Dette er kun en reservasjon og ikke endelig ordre. For å lage gyldige billetter eller tilordne transaksjonen,
          må reservasjonen lagres som en endelig ordre.
        </p>

        <p>
          @if (order.tickets.length > 0) {
            <button class="btn btn-success" type="button" (click)="completeOrder()">
              Marker som betalt og fullfør ordre
            </button>
          }
          <button class="btn btn-primary" type="button" (click)="convertOrder()">
            Konverter, men ikke valider billetter enda
          </button>
          <button class="btn btn-danger" type="button" (click)="deleteReservation()">Slett reservasjon</button>
        </p>
      </div>
    }

    @if (balance !== 0) {
      <div class="alert alert-warning">
        Ordren er ikke i balanse.
        @if (balance < 0) {
          <span>Kunden skylder {{ -balance | price }}.</span>
        }
        @if (balance > 0) {
          <span>Vi skylder kunden {{ balance | price }}.</span>
        }
      </div>
    }

    <div class="row">
      <div class="col-sm-6">
        <dl class="dl-horizontal">
          <dt>Navn</dt>
          @if (order.name) {
            <dd>{{ order.name }}</dd>
          } @else {
            <dd><i>Ikke registrert</i></dd>
          }

          <dt>E-post</dt>
          @if (order.email) {
            <dd>{{ order.email }}</dd>
          } @else {
            <dd><i>Ikke registrert</i></dd>
          }

          <dt>Telefon</dt>
          @if (order.phone) {
            <dd>{{ order.phone }}</dd>
          } @else {
            <dd><i>Ikke registrert</i></dd>
          }

          <dt>Vervet av</dt>
          @if (order.recruiter) {
            <dd>{{ order.recruiter }}</dd>
          } @else {
            <dd><i>Ikke registrert</i></dd>
          }
        </dl>

        <dl class="dl-horizontal">
          <dt>Opprinnelse</dt>
          <dd>
            {{ order.is_admin ? "Billettluke" : "Nettbestilling" }}
          </dd>
          <dt>Tidspunkt</dt>
          <dd>{{ order.time | formatdate: "D. MMMM YYYY HH:mm" }}</dd>
          @if (order.user_created) {
            <dd class="text-muted">(Opprettet av {{ order.user_created }})</dd>
          }
          <dt>Ordretotal</dt>
          <dd>
            {{ totalValid | price }} ({{ totalPaid | price }} betalt
            @if (balance !== 0) {
              <span>, {{ -balance | price }} gjenstår</span>
            }
            )
            @if (totalReserved > 0) {
              <i>
                <br />
                Reserverte billetter:
                {{ totalReserved | price }} (totalt {{ totalValid + totalReserved | price }})
              </i>
            }
          </dd>
        </dl>
      </div>

      <div class="col-sm-6">
        @if (order.comment) {
          <div class="panel panel-info">
            <div class="panel-heading">Kommentar</div>
            <div class="panel-body">
              <billett-markdown [data]="order.comment" />
            </div>
          </div>
        }
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-md-7">
        <h2>
          Billetter
          <span class="pull-right">
            <button class="btn btn-default" type="button" (click)="addTickets()">Tilorde nye billetter</button>
            @if (validTickets.length > 0) {
              <a class="btn btn-default" [href]="downloadTicketsUrl" target="_self">Last ned billetter</a>
              <button class="btn btn-default" type="button" (click)="printTickets()">Skriv ut billetter</button>
            }
          </span>
        </h2>

        @if (order.tickets.length === 0) {
          <p>Ingen billetter er tilordnet.</p>
        }

        @if (order.tickets.length > 0) {
          <table class="tickets table table-striped table-condensed">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>ID</th>
                <th>Arrangement</th>
                <th>Billettgruppe</th>
                <th>Pris</th>
                <th>Avgift</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              @for (ticket of order.tickets; track ticket.id) {
                <tr
                  [ngClass]="{
                    invalid: !ticket.is_valid,
                    revoked: ticket.is_revoked,
                  }"
                >
                  <td>
                    @if (ticket.is_valid && !ticket.is_revoked) {
                      <a class="btn btn-default btn-xs" [href]="api('ticket/' + ticket.id + '/pdf')" target="_blank">
                        <span class="glyphicon glyphicon-eye-open" title="Last ned PDF"></span>
                      </a>
                    }
                    <button class="btn btn-default btn-xs" type="button" (click)="printTicket(ticket)">
                      <span class="glyphicon glyphicon-print" title="Skriv ut billett"></span>
                    </button>
                  </td>
                  <td>{{ ticket.id }}</td>
                  <td>
                    <a routerLink="/a/event/{{ ticket.event.id }}"
                      >{{ ticket.event.time_start | formatdate: "D. MMM YYYY HH:mm" }}: {{ ticket.event.title }}</a
                    >
                    <span class="text-muted"
                      ><br />(registrert
                      {{ ticket.time | formatdate: "D. MMM YYYY HH:mm" }}
                      @if (ticket.user_valid) {
                        <span> av {{ ticket.user_valid }}</span>
                      }
                      )</span
                    >
                    @if (!ticket.is_valid) {
                      <span><br />(kun reservasjon)</span>
                    }
                    @if (ticket.is_revoked) {
                      <span class="text-muted"
                        ><br />(tilbaketrukket
                        {{ ticket.time_revoked! | formatdate: "D. MMM YYYY HH:mm" }}
                        @if (ticket.user_revoked) {
                          <span> av {{ ticket.user_revoked }}</span>
                        }
                        )</span
                      >
                    }
                  </td>
                  <td>{{ ticket.ticketgroup.title }}</td>
                  <td>
                    {{ ticket.ticketgroup.price + ticket.ticketgroup.fee | price }}
                  </td>
                  <td>{{ ticket.ticketgroup.fee | price }}</td>
                  <td>
                    @if (!ticket.is_revoked && ticket.is_valid) {
                      <button
                        class="btn btn-sm btn-danger"
                        type="button"
                        (click)="revokeTicket(ticket)"
                        title="Tilbaketrekk billett"
                      >
                        <i class="glyphicon glyphicon-remove"></i>
                      </button>
                    }
                    @if (!ticket.is_valid && order.is_valid) {
                      <button
                        class="btn btn-sm btn-success"
                        type="button"
                        (click)="validateTicket(ticket)"
                        title="Godkjenn reservasjon"
                      >
                        <i class="glyphicon glyphicon-plus"></i>
                      </button>
                    }
                    @if (!ticket.is_valid) {
                      <button
                        class="btn btn-sm btn-danger"
                        type="button"
                        (click)="deleteTicket(ticket)"
                        title="Slett reservasjon"
                      >
                        <i class="glyphicon glyphicon-remove"></i>
                      </button>
                    }
                  </td>
                </tr>
              }
            </tbody>
          </table>
        }

        @if (order.tickets.length > 1) {
          <div>
            <b>{{ countValid }}</b>
            gyldig{{ countValid === 1 ? "" : "e" }} billett{{ countValid === 1 ? "" : "er" }},
            <b>{{ countReserved }}</b>
            reservert{{ countReserved === 1 ? "" : "e" }} billett{{ countReserved === 1 ? "" : "er" }}
            og
            <b>{{ countRevoked }}</b>
            tilbaketruk{{ countRevoked === 1 ? "ket" : "ne" }} billett{{ countRevoked ? "" : "er" }}.
          </div>
        }
      </div>

      <div class="col-md-5">
        <hr class="visible-xs-block visible-sm-block" />

        <h2>
          Transaksjoner
          @if (order.is_valid) {
            <button class="pull-right btn btn-default" type="button" (click)="newPayment()">Ny transaksjon</button>
          }
        </h2>
        @if (order.payments.length === 0) {
          <p>Ingen transaksjoner er tilordnet ordren.</p>
        }
        @if (!order.is_valid) {
          <p class="alert alert-warning">
            Ingen transaksjoner kan tilordnes før reservasjonen er konvertert til ordre.
          </p>
        }
        @if (order.payments.length > 0) {
          <table class="payments table table-striped table-condensed">
            <thead>
              <tr>
                <th>Tid</th>
                <th>Beløp</th>
                <th>Detaljer</th>
              </tr>
            </thead>
            <tbody>
              @for (payment of order.payments; track payment.id) {
                <tr>
                  <td>
                    {{ payment.time | formatdate: "DD.MM.YYYY HH:mm" }}<br />
                    {{ payment.is_web ? "Nettbetaling" : "Billettluke" }}
                  </td>
                  <td>{{ payment.amount | price }}</td>
                  @if (payment.is_web) {
                    <td>
                      Transaksjonsnummer: {{ payment.transaction_id }}<br />
                      Status: {{ payment.status }}
                    </td>
                  }
                  @if (!payment.is_web) {
                    <td>
                      Oppgjør:
                      <a routerLink="/a/paymentgroup/{{ payment.paymentgroup.id }}">{{ payment.paymentgroup.title }}</a>
                      @if (payment.user_created) {
                        <span class="text-muted"><br />Registrert av {{ payment.user_created }}</span>
                      }
                    </td>
                  }
                </tr>
              }
            </tbody>
            @if (order.payments.length > 1) {
              <tfoot>
                <tr>
                  <th>Sum</th>
                  <th>{{ totalPaid | price }}</th>
                  <th>&nbsp;</th>
                </tr>
              </tfoot>
            }
          </table>
        }
      </div>
    </div>
  }
}
