<page-property name="title" value="Ordre: {{ctrl.order.order_text_id}}"></page-property>

<div class="admin-order">
  <div class="page-header">
    <h1>
      <span class="eventgroup">
        <a [href]="a/orders?eventgroup_id=ctrl.order.eventgroup.id">{{ctrl.order.eventgroup.title}}</a>
      </span>
      Ordre: {{ctrl.order.order_text_id}}

      <span class="pull-right">
        <a class="btn btn-success" [href]="a/order/new/ctrl.order.eventgroup.id" accesskey="n">Ny ordre</a>
        <a class="btn btn-primary" (click)="ctrl.startEdit()" accesskey="e">Rediger</a>
        @if (ctrl.order.is_valid) {
<a class="btn btn-default" (click)="ctrl.email()">Send e-post</a>
}
      </span>
    </h1>
  </div>

  @if (ctrl.edit) {
<form (ngSubmit)="ctrl.save()" class="form-horizontal" autocomplete="off">
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Navn</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" [(ngModel)]="ctrl.edit.name" id="name" placeholder="(valgfritt)" autofocus="">
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">E-postadresse</label>
      <div class="col-sm-6">
        <input type="email" class="form-control" [(ngModel)]="ctrl.edit.email" id="email" placeholder="(valgfritt)">
      </div>
    </div>
    <div class="form-group">
      <label for="phone" class="col-sm-2 control-label">Telefon</label>
      <div class="col-sm-6">
        <input type="tel" class="form-control" [(ngModel)]="ctrl.edit.phone" id="phone" placeholder="(valgfritt)" ng-pattern="/^\+?\d+$/">
      </div>
    </div>
    <div class="form-group">
      <label for="recruiter" class="col-sm-2 control-label">Vervet av</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" [(ngModel)]="ctrl.edit.recruiter" id="recruiter" placeholder="(valgfritt)">
      </div>
    </div>
    <div class="form-group">
      <label for="comment" class="col-sm-2 control-label">Kommentar</label>
      <div class="col-sm-6">
        <textarea class="form-control" [(ngModel)]="ctrl.edit.comment" id="comment" rows="5" placeholder="(valgfritt)"></textarea>
        <span class="help-block">Kommentar er ikke synlig for kunden.</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6 col-sm-offset-2">
        <input type="submit" value="Oppdater" class="btn btn-primary">
        <a class="btn" (click)="ctrl.abortEdit()">Avbryt</a>
      </div>
    </div>
  </form>
}

  @if (!ctrl.edit) {
<div>
    @if (!ctrl.order.is_valid) {
<div class="alert alert-warning">
      <p>
        Dette er kun en reservasjon og ikke endelig ordre. For å lage gyldige
        billetter eller tilordne transaksjonen, må reservasjonen lagres som en
        endelig ordre.
      </p>

      <p>
        @if (ctrl.order.tickets.length > 0) {
<button class="btn btn-success" (click)="ctrl.completeOrder()">
          Marker som betalt og fullfør ordre
        </button>
}
        <button class="btn btn-primary" (click)="ctrl.convertOrder()">
          Konverter, men ikke valider billetter enda
        </button>
        <button class="btn btn-danger" (click)="ctrl.deleteReservation()">
          Slett reservasjon
        </button>
      </p>
    </div>
}

    @if (ctrl.order.balance != 0) {
<div class="alert alert-warning">
      Ordren er ikke i balanse.
      @if (ctrl.order.balance < 0) {
<span>Kunden skylder {{-ctrl.order.balance|price}}.</span>
}
      @if (ctrl.order.balance > 0) {
<span>Vi skylder kunden {{ctrl.order.balance|price}}.</span>
}
    </div>
}

    <div class="row">
      <div class="col-sm-6">
        <dl class="dl-horizontal">
          <dt>Navn</dt>
          @if (ctrl.order.name) {
<dd>{{ctrl.order.name}}</dd>
}
          @if (!ctrl.order.name) {
<dd><i>Ikke registrert</i></dd>
}

          <dt>E-post</dt>
          @if (ctrl.order.email) {
<dd>{{ctrl.order.email}}</dd>
}
          @if (!ctrl.order.email) {
<dd><i>Ikke registrert</i></dd>
}

          <dt>Telefon</dt>
          @if (ctrl.order.phone) {
<dd>{{ctrl.order.phone}}</dd>
}
          @if (!ctrl.order.phone) {
<dd><i>Ikke registrert</i></dd>
}

          <dt>Vervet av</dt>
          @if (ctrl.order.recruiter) {
<dd>{{ctrl.order.recruiter}}</dd>
}
          @if (!ctrl.order.recruiter) {
<dd><i>Ikke registrert</i></dd>
}
        </dl>

        <dl class="dl-horizontal">
          <dt>Opprinnelse</dt>
          <dd>{{ctrl.order.is_admin ? 'Billettluke' : 'Nettbestilling'}}</dd>
          <dt>Tidspunkt</dt>
          <dd>{{ctrl.order.time|formatdate:'D. MMMM YYYY HH:mm'}}</dd>
          @if (ctrl.order.user_created) {
<dd class="text-muted">
            (Opprettet av {{ctrl.order.user_created}})
          </dd>
}
          <dt>Ordretotal</dt>
          <dd>
            {{ctrl.total|price}} ({{ctrl.total_paid|price}} betalt@if (ctrl.order.balance != 0) {
<span>, {{-ctrl.order.balance|price}} gjenstår</span>
})
            @if (ctrl.total_reserved > 0) {
<i>
              <br>
              Reserverte billetter: {{ctrl.total_reserved|price}} (totalt
              {{ctrl.total+ctrl.total_reserved|price}})
            </i>
}
          </dd>
        </dl>
      </div>

      <div class="col-sm-6">
        @if (ctrl.order.comment) {
<div class="panel panel-info">
          <div class="panel-heading">Kommentar</div>
          <div class="panel-body" marked="ctrl.order.comment"></div>
        </div>
}
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-7">
        <h2>
          Billetter
          <span class="pull-right">
            <a class="btn btn-default" (click)="ctrl.addTickets()">Tilorde nye billetter</a>
            @if (ctrl.validtickets.length > 0) {
<a class="btn btn-default" [href]="ctrl.api('ticket/pdf?ids=' + ctrl.validtickets.join(','))" target="_self">Last ned billetter</a>
}
            @if (ctrl.validtickets.length > 0) {
<a class="btn btn-default" (click)="ctrl.printTickets()">Skriv ut billetter</a>
}
          </span>
        </h2>

        @if (ctrl.order.tickets.length == 0) {
<p>
          Ingen billetter er tilordnet.
        </p>
}

        @if (ctrl.order.tickets.length > 0) {
<table class="tickets table table-striped table-condensed">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>ID</th>
              <th>Arrangement</th>
              <th>Billettgruppe</th>
              <th>Pris</th>
              <th>Avgift</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            @for (ticket of ctrl.order.tickets; track ticket) {
<tr [ngClass]="{invalid: !ticket.is_valid, revoked: ticket.is_revoked}">
              <td>
                @if (ticket.is_valid && !ticket.is_revoked) {
<a [href]="ctrl.api('ticket/' + ticket.id + '/pdf')" target="_blank">
                  <span class="glyphicon glyphicon-eye-open" title="Last ned PDF"></span>
                </a>
}
                <a href="" (click)="ctrl.printTicket(ticket.id)">
                  <span class="glyphicon glyphicon-print" title="Skriv ut billett"></span>
                </a>
              </td>
              <td>{{ticket.id}}</td>
              <td>
                <a [href]="a/event/ticket.event.id">{{ticket.event.time_start|formatdate:'D. MMM YYYY HH:mm'}}:
                  {{ticket.event.title}}</a>
                <span class="text-muted"><br>(registrert {{ticket.time|formatdate:'D. MMM YYYY
                  HH:mm'}}@if (ticket.user_valid) {
<span>
                    av {{ticket.user_valid}}</span>
})</span>
                @if (!ticket.is_valid) {
<span><br>(kun reservasjon)</span>
}
                @if (ticket.is_revoked) {
<span class="text-muted"><br>(tilbaketrukket {{ticket.time_revoked|formatdate:'D.
                  MMM YYYY HH:mm'}}@if (ticket.user_revoked) {
<span>
                    av {{ticket.user_revoked}}</span>
})</span>
}
              </td>
              <td>{{ticket.ticketgroup.title}}</td>
              <td>{{ticket.ticketgroup.price+ticket.ticketgroup.fee|price}}</td>
              <td>{{ticket.ticketgroup.fee|price}}</td>
              <td>
                @if (!ticket.is_revoked && ticket.is_valid) {
<a class="btn btn-sm btn-danger" (click)="ctrl.revokeTicket(ticket)" title="Tilbaketrekk billett"><i class="glyphicon glyphicon-remove"></i></a>
}
                @if (!ticket.is_valid && ctrl.order.is_valid) {
<a class="btn btn-sm btn-success" (click)="ctrl.validateTicket(ticket)" title="Godkjenn reservasjon"><i class="glyphicon glyphicon-plus"></i></a>
}
                @if (!ticket.is_valid) {
<a class="btn btn-sm btn-danger" (click)="ctrl.deleteTicket(ticket)" title="Slett reservasjon"><i class="glyphicon glyphicon-remove"></i></a>
}
              </td>
            </tr>
}
          </tbody>
        </table>
}

        @if (ctrl.order.tickets.length > 1) {
<div>
          <b>{{ctrl.ticketcount.valid}}</b>
          gyldig{{ctrl.ticketcount.valid==1?'':'e'}}
          billett{{ctrl.ticketcount.valid==1?'':'er'}},
          <b>{{ctrl.ticketcount.reserved}}</b>
          reservert{{ctrl.ticketcount.reserved==1?'':'e'}}
          billett{{ctrl.ticketcount.reserved==1?'':'er'}} og
          <b>{{ctrl.ticketcount.revoked}}</b>
          tilbaketruk{{ctrl.ticketcount.revoked==1?'ket':'ne'}}
          billett{{ctrl.ticketcount.revoked?'':'er'}}.
        </div>
}
      </div>

      <div class="col-md-5">
        <hr class="visible-xs-block visible-sm-block">

        <h2>
          Transaksjoner
          @if (ctrl.order.is_valid) {
<a class="pull-right btn btn-default" (click)="ctrl.newPayment()">Ny transaksjon</a>
}
        </h2>
        @if (ctrl.order.payments.length == 0) {
<p>
          Ingen transaksjoner er tilordnet ordren.
        </p>
}
        @if (!ctrl.order.is_valid) {
<p class="alert alert-warning">
          Ingen transaksjoner kan tilordnes før reservasjonen er konvertert til
          ordre.
        </p>
}
        @if (ctrl.order.payments.length > 0) {
<table class="payments table table-striped table-condensed">
          <thead>
            <tr>
              <th>Tid</th>
              <th>Beløp</th>
              <th>Detaljer</th>
            </tr>
          </thead>
          <tbody>
            @for (payment of ctrl.order.payments; track payment) {
<tr>
              <td>
                {{payment.time|formatdate:'DD.MM.YYYY HH:mm'}}<br>
                {{payment.is_web ? 'Nettbetaling' : 'Billettluke'}}
              </td>
              <td>{{payment.amount|price}}</td>
              @if (payment.is_web) {
<td>
                Transaksjonsnummer: {{payment.transaction_id}}<br>
                Status: {{payment.status}}
              </td>
}
              @if (!payment.is_web) {
<td>
                Oppgjør:
                <a [href]="a/paymentgroup/payment.paymentgroup.id">{{payment.paymentgroup.title}}</a>
                @if (payment.user_created) {
<span class="text-muted"><br>Registrert av {{payment.user_created}}</span>
}
              </td>
}
            </tr>
}
          </tbody>
          @if (ctrl.order.payments.length > 1) {
<tfoot>
            <tr>
              <th>Sum</th>
              <th>{{ctrl.total_paid|price}}</th>
              <th>&nbsp;</th>
            </tr>
          </tfoot>
}
        </table>
}
      </div>
    </div>
  </div>
}
</div>
