@import "../../common/vars";

.order-list-table,
.ticket-list-table {
  tr.invalid {
    opacity: 0.6;
    color: red;
  }

  // order sum
  th:nth-child(3),
  td:nth-child(3) {
    text-align: right;
  }

  .unbalance {
    color: #fff;
    background-color: #f00;
  }

  .order-detail {
    display: block;
  }

  .is_admin {
    font-size: 80%;
    background: $gray-lighter;
    padding: 1px;
    border-radius: 3px;
  }

  // tickets list
  ul {
    margin: 0;

    li.reservation {
      color: red;
      &:after {
        content: " (reservasjon)";
      }
    }

    li.revoked {
      opacity: 0.6;
      text-decoration: line-through;
      &:after {
        content: " (tilbaketrukket)";
      }
    }

    li.keyresult {
      > :first-child {
        background: hsla(118, 81%, 68%, 0.8);
        padding: 7px 2px;
        margin: -7px -2px;
      }
    }
  }
}
