@if (printersResource.isLoading()) {
  <div class="form-control-static">Laster skrivere ...</div>
} @else if (printersResource.error()) {
  <div class="form-control-static">Feil: {{ getErrorText(printersResource.error()) }}</div>
} @else if (printersResource.hasValue()) {
  @if (printersResource.value().length === 0) {
    <div class="form-control-static">Ingen skrivere er tilgjengelig</div>
  } @else {
    <select
      class="form-control"
      [id]="id()"
      [ngModel]="printer()?.name ?? ''"
      (ngModelChange)="select($event)"
      name="printer"
    >
      @if (!printer() || canDisable()) {
        <option value="">
          {{ canDisable() ? "Ikke skriv ut" : "Velg ..." }}
        </option>
      }
      @for (p of printersResource.value(); track p.name) {
        <option [value]="p.name">
          {{ p.name }} ({{ p.ip || "IKKE TILGJENGELIG" }}:{{ p.port }}, oppe {{ getUptime(p) }} min)
        </option>
      }
    </select>
  }
}
