<div class="modal-header">
  <h3 class="modal-title">Velg billettskriver</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" (ngSubmit)="complete()">
    <div class="form-group">
      <label for="printer" class="col-sm-4 control-label">Billettskriver</label>
      <div class="col-sm-7">
        <admin-printer-selectbox [(printer)]="printer" id="printer" />
      </div>
    </div>
    @if (sending) {
      <p class="text-center">Sender data til utskrift ...</p>
    } @else {
      <div class="row">
        <div class="col-sm-7 col-sm-offset-4">
          <button class="btn btn-success" type="submit" [disabled]="!printer">Skriv ut</button>
          <button class="btn btn-default" type="button" (click)="cancel()">Avbryt</button>
        </div>
      </div>
    }
  </form>
</div>
