<div class="admin-daytheme-edit">
    <page-property name="title" value="Rediger: {{daytheme.title}}"></page-property>

    <div class="page-header">
        <h1>
            <span ng-show="is_new">Ny temadag</span>
            <span ng-show="!is_new">{{daytheme.title}}</span>
        </h1>
    </div>

    <div ng-show="is_new">
        <p></p>
    </div>

    <form ng-submit="storeDaytheme()" class="form-horizontal" autocomplete="off">
        <h3>Grunnleggende informasjon</h3>
        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Tittel</label>
            <div class="col-sm-9 col-md-6">
                <input type="text" class="form-control" ng-model="daytheme.title" id="title" placeholder="" required autofocus>
            </div>
            <div class="col-sm-4 col-md-3">
                <input type="datetime" class="form-control" ng-model="daytheme.date" ng-change="updateTime('date')" id="date" placeholder="(YYYY-MM-DD)">
            </div>
        </div>

        <div ng-show="!is_new" class="form-group">
            <div class="col-sm-9 col-md-6 col-sm-offset-3">
                <input type="submit" value="Oppdater" class="btn btn-primary">
                <a ng-href="a/daytheme/{{daytheme.id}}">Avbryt</a>
            </div>
        </div>
        <div ng-show="is_new" class="form-group">
            <div class="col-sm-9 col-md-6 col-sm-offset-3">
                <input type="submit" value="Opprett" class="btn btn-primary">
                <a ng-href="a/daytheme/{{daytheme.id}}">Avbryt</a>
            </div>
        </div>
    </form>
</div>

