@import "./vars";

/*
 * shared between most pages which links back to eventgroup in header
 */
.page-header {
  h1 {
    .eventgroup {
      display: block;
      font-size: 14px;
      a {
        color: #888;
        text-transform: uppercase;
      }
    }
  }
}
