<billett-page-property name="title" value="Arrangementer" />

<div class="page-header">
  <h1>Arrangementer</h1>
</div>

<h2>Kommende arrangementer</h2>

@if (upcomingState.error) {
  <p>Feil: {{ upcomingState.error }}</p>
} @else if (!upcoming) {
  <p>Laster data..</p>
} @else if (upcoming.length == 0) {
  <p>Ingen arrangementer ble funnet.</p>
} @else {
  @for (event of upcoming; track event.id) {
    <billett-eventlist-item [event]="event" [eventgroup]="event.eventgroup" [isUpcoming]="true" />
  }
}

<h2>Arrangementgrupper</h2>
@if (eventgroupsState.error) {
  <p>Feil: {{ eventgroupsState.error }}</p>
} @else if (eventgroupsState.loading) {
  <p>Laster data..</p>
} @else {
  <ul>
    @for (group of eventgroups; track group.id) {
      <li>
        <a routerLink="/eventgroup/{{ group.id }}">{{ group.title }}</a>
      </li>
    }
  </ul>
}
