<div class="admin-paymentgroup-list">
    <page-property name="title" value="Betalingsgrupper"></page-property>

    <div class="page-header">
        <h1>
            <span class="eventgroup">
                <a href="a/eventgroup/{{ctrl.eventgroup.id}}">{{ctrl.eventgroup.title}}</a>
            </span>
            Betalingsgrupper
            <a ng-href="a/eventgroup/{{ctrl.eventgroup.id}}/paymentgroup/new" class="btn btn-default pull-right">Ny</a>
        </h1>
    </div>

    <p ng-if="ctrl.paymentgroups.length == 0">
        Ingen betalingsgrupper eksisterer for denne arrangementgruppen.
    </p>

    <ul ng-if="ctrl.paymentgroups.length > 0">
        <li ng-repeat="group in ctrl.paymentgroups">
            <!-- TODO: closed status -->
            <a ng-href="a/paymentgroup/{{::group.id}}">{{::group.title}} {{::group.time_start|formatdate:'DD.MM.YYYY'}} ({{::group.user_created}})</a>
        </li>
    </ul>
</div>
