<div class="admin-paymentgroup-list">
    <page-property name="title" value="Betalingsgrupper"></page-property>

    <div class="page-header">
        <h1>
            <span class="eventgroup">
                <a href="a/eventgroup/{{ctrl.eventgroup.id}}">{{ctrl.eventgroup.title}}</a>
            </span>
            Betalingsgrupper
            <a class="btn btn-default pull-right" ng-click="ctrl.new()">Ny</a>
        </h1>
    </div>

    <p ng-if="ctrl.paymentgroups.length == 0">
        Ingen betalingsgrupper eksisterer for denne arrangementgruppen.
    </p>

    <table class="table" ng-if="ctrl.paymentgroups.length > 0">
        <thead>
            <tr>
                <th>Tittel</th>
                <th>Opprettet</th>
                <th>Avsluttet</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="group in ctrl.paymentgroups">
                <td><a ng-href="a/paymentgroup/{{::group.id}}">{{::group.title}}</a></td>
                <td>{{::group.time_start|formatdate:'DD.MM.YYYY'}} av {{::group.user_created}}</td>
                <td ng-if="::group.time_end">{{::group.time_end|formatdate:'DD.MM.YYYY'}} av {{::group.user_closed}}</td>
                <td ng-if="::!group.time_end">Ikke avsluttet</td>
            </tr>
        </tbody>
    </table>
</div>
