<div class="admin-paymentgroup-new">
    <page-property name="title" value="Ny betalingsgruppe"></page-property>

    <div class="modal-header">
        <h3 class="modal-title">Nytt oppgjør</h3>
    </div>
    <div class="modal-body text-center" ng-if="ctrl.sending">
        Registrerer data ...
    </div>
    <div class="modal-body" ng-if="!ctrl.sending">
        <form class="form-horizontal" ng-submit="ctrl.complete()" autocomplete="off">
            <div class="form-group">
                <label for="title" class="col-sm-4 control-label">Tittel</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" ng-model="ctrl.paymentgroup.title" id="title" placeholder="" required autofocus>
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="col-sm-4 control-label">Beskrivelse</label>
                <div class="col-sm-7">
                    <textarea class="form-control" ng-model="ctrl.paymentgroup.description" id="description" rows="5" placeholder="(valgfritt)"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-7 col-sm-offset-4">
                    <button class="btn btn-success" type="submit">Opprett</button>
                    <button class="btn btn-default" type="button" ng-click="ctrl.cancel()">Avbryt</button>
                </div>
            </div>
        </form>

        <div class="text-muted">Et oppgjør kan sees på som en virtuell kasse. Lag et oppgjør f.eks. hver gang du bemanner billettluken. Når du avslutter oppgjøret (&laquo;tar oppgjøret&raquo;) kan du enkelt kontrollere at f.eks. kontantbeholdningen stemmer.</div>

    </div>
</div>
