<div class="admin-paymentgroup-new">
    <page-property name="title" value="Ny betalingsgruppe"></page-property>

    <div class="page-header">
        <h1>
            <span class="eventgroup">
                <a href="a/eventgroup/{{ctrl.eventgroup.id}}">{{ctrl.eventgroup.title}}</a>
            </span>
            Ny betalingsgruppe
        </h1>
    </div>

    <form ng-submit="ctrl.save()" class="form-horizontal" autocomplete="off">
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Tittel</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="ctrl.paymentgroup.title" id="title" placeholder="" required autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Beskrivelse</label>
            <div class="col-sm-6">
                <textarea class="form-control" ng-model="ctrl.paymentgroup.description" id="description" rows="5" placeholder="(valgfritt)"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-2">
                <input type="submit" value="Opprett" class="btn btn-primary">
                <a ng-click="ctrl.abort()" class="btn">Avbryt</a>
            </div>
        </div>
    </form>
</div>
