.admin-paymentgroup-item {
    .dl-prefix {
        margin-bottom: 0;
        font-style: italic;
        font-size: 90%;
    }

    @media print {
        table {
            td,
            th {
                padding: 2px 4px !important;
            }
        }

        .dl-horizontal dt {
            float: left;
            width: 190px;
            clear: left;
            text-align: right;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .dl-horizontal dd {
            margin-left: 210px;
        }
    }

    h1, h2 {
        page-break-after: avoid;
    }
    .print-page-section {
        page-break-inside: avoid;
    }

    div.row + h2 {
        margin-top: 0;
    }

    table.paymentgroup-sales {
        th, td {
            &:nth-child(2),
            &:nth-child(3) {
                text-align: right;
            }
        }
    }

    table.paymentgroup-inbalance {
        th, td {
            text-align: right;
            &:nth-child(1),
            &:nth-child(2) {
                text-align: left;
            }
        }
    }

    table.paymentgroup-payments {
        th, td {
            &:nth-child(3) {
                text-align: right;
            }
        }
    }

    table.paymentgroup-tickets {
        th, td {
            &:nth-child(5),
            &:nth-child(6) {
                text-align: right;
            }
        }
    }

    .table {
        width: auto;
    }

    .cashgroup {
        td, th {
            text-align: right !important;
        }
        thead tr:first-child th:last-child {
            text-align: center !important;
        }
    }

    .is_deleted {
        opacity: 0.7;
        h3 {
            color: red;
        }
    }
}

.admin-paymentsource-new {
    table {
        margin-bottom: 0;
        tbody td:nth-child(2) {
            width: 100px;
        }
        td, th {
            vertical-align: middle !important;
            text-align: right;
        }
        thead th:nth-child(1),
        thead th:nth-child(2),
        tbody th,
        tbody td:nth-child(2) {
            text-align: center;
        }

        input {
            text-align: center;
        }
    }
}