<div class="modal-header">
  <h3 class="modal-title">Registrer transaksjon</h3>
</div>

@if (sending) {
  <div class="modal-body text-center">Utfører ...</div>
} @else {
  <div class="modal-body">
    <form class="form-horizontal" (ngSubmit)="submit()">
      <div class="form-group">
        <label class="col-sm-4 control-label">Beløp</label>
        <div class="col-sm-4">
          <input
            class="form-control"
            type="number"
            [(ngModel)]="amount"
            name="amount"
            placeholder="beløp i NOK"
            autofocus=""
            required=""
          />
          <span class="help-block">Negativt for utbetaling</span>
        </div>
      </div>

      <div class="form-group">
        <label for="paymentgroup" class="col-sm-4 control-label">Oppgjørsgruppe</label>
        <div class="col-sm-7">
          <billett-admin-paymentgroup-selectbox
            [eventgroupId]="data.order.eventgroup.id"
            [(paymentgroup)]="paymentgroup"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-7 col-sm-offset-4">
          <input class="btn btn-success" type="submit" value="Registrer" [disabled]="amount == 0 || !paymentgroup" />
          <button type="button" class="btn btn-default" (click)="cancel()">Avbryt</button>
        </div>
      </div>
    </form>
  </div>
}
