@import '../../common/vars';

.admin-event {
  .event-image {
    margin-top: 1em;
    position: relative;
    .upload-tip {
      position: absolute;
      background: #EEE;
      padding: 3px;
      display: none;
      left: 0;
    }
    &:hover .upload-tip {
      display: block;
    }
    &.nv-file-over {
      outline: 3px dotted #333;
    }

    @media (min-width: $screen-md-min) {
      .upload-tip {
        right: 0;
        left: auto;
      }
      text-align: right;
    }
  }

  .ticketgroups {
    table thead tr,
    table tbody tr {
      :nth-child(4),
      :nth-child(5) {
        text-align: right;
      }
      :nth-child(6),
      :nth-child(7),
      :nth-child(8) {
        text-align: center;
      }
    }

    table td:nth-child(6),
    table td:nth-child(7) {
      background-color: hsl(120, 100%, 90%) !important;
    }
    table tr.not-office.not-published {
      td {
        opacity: 0.5;
      }
    }
    table tr.not-office {
      td:nth-child(6) {
        background-color: hsl(0, 100%, 90%) !important;
      }
    }
    table tr.not-published {
      td:nth-child(7) {
        background-color: hsl(0, 100%, 90%) !important;
      }
    }
  }
}
