<div class="admin-event">

    <page-property name="title" value="{{event.title}} ({{event.time_start|formatdate:'DD. MMM'}})"></page-property>

    <div class="page-header">
        <h1>
            <span class="eventgroup">
                <a href="a/eventgroup/{{event.eventgroup.id}}">{{event.eventgroup.title}}</a>
            </span>
            {{event.title}}
            <span class="pull-right">
                <a ng-href="event/{{event.id}}" class="btn btn-success">Forhåndsvis</a>
                <a ng-href="a/event/{{event.id}}/edit" class="btn btn-primary">Rediger</a>
                <a href ng-show="!event.has_tickets" class="btn btn-danger" ng-click="deleteEvent()">Slett arrangement</a>
                <a ng-href="a/orders?tickets.event.id={{event.id}}" ng-show="event.has_tickets" class="btn btn-default">Vis ordre</a>
            </span>
        </h1>
        <p ng-show="!event.is_published">Dette arrangementet er ikke publisert. Du er innlogget og kan se.</p>
    </div>

    <div class="row">
        <div class="col-md-6">

            <dl class="dl-horizontal">
                <dt>Start</dt>
                <dd>{{event.time_start|formatdate:'DD.MM.YYYY HH:mm'}}</dd>
                <dt>Slutt</dt>
                <dd>{{!event.time_end ? 'ikke satt' : (event.time_end|formatdate:'DD.MM.YYYY HH:mm')}}</dd>
                <dt>Kategori</dt>
                <dd>{{event.category}}</dd>
                <dt>Alias</dt>
                <dd>{{event.alias}}</dd>
                <dt>Skjult i admin?</dt>
                <dd>{{event.is_admin_hidden ? 'Ja' : 'Nei'}}</dd>
                <dt>Publisert?</dt>
                <dd>{{event.is_published ? 'Ja' : 'Nei'}}</dd>
                <dt>Nettsalg aktivert?</dt>
                <dd>{{event.is_selling ? 'Ja' : 'Nei'}}</dd>
                <dt>Sted</dt>
                <dd>{{event.location}}</dd>
                <dt>Maks per person</dt>
                <dd>{{event.max_each_person}}</dd>
                <dt>Maks antall salg</dt>
                <dd>{{event.max_sales}}</dd>
                <dt>Maks normale salg</dt>
                <dd>{{event.max_normal_sales}}</dd>
                <dt>Lenketekst</dt>
                <dd>{{event.ticket_info}}</dd>
                <dt>Salgsbeskrivelse</dt>
                <dd marked="event.selling_text"></dd>
                <dt>Beskrivelse</dt>
                <dd marked="event.description"></dd>
                <dt>Kort beskrivelse</dt>
                <dd>{{event.description_short}}</dd>
                <dt>Billett-tekst</dt>
                <dd>{{event.ticket_text}}</dd>
                <dt>Lenke</dt>
                <dd>{{event.link}}</dd>
                <dt>Aldersbegrensning</dt>
                <dd>{{event.age_restriction}}</dd>
                <dt>Timeout?</dt>
                <dd>{{event.is_timeout ? 'Ja' : 'Nei'}}</dd>
                <dt>Starttid passert?</dt>
                <dd>{{event.is_old ? 'Ja' : 'Nei'}}</dd>
            </dl>

        </div>

        <div class="col-md-6">
            <div class="event-image" nv-file-drop="" nv-file-over="" uploader="uploader">
                <span class="upload-tip">Dra et bilde over her for å laste opp nytt bilde!</span>
                <img ng-src="event/{{event.id}}/image?v={{image_version||''}}" alt="" ng-show="!uploadprogress">
                <span ng-show="uploadprogress">Laster opp nytt bilde...</span>
            </div>
        </div>
    </div>

    <hr>

    <h3>
        Billettgrupper
        <a href="a/event/{{event.id}}/ticketgroup/new" class="btn btn-default pull-right">Ny</a>
    </h3>

    <hr>

    <p ng-show="event.ticketgroups.length == 0">
        Ingen billettgrupper eksisterer.
    </p>

    <div ng-show="event.ticketgroups.length > 0" class="table-responsive ticketgroups">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>ID</th>
                    <th>Tittel</th>
                    <th><abbr title="Pris inkl. avgift">Pris</abbr></th>
                    <th>= Avgift</th>
                    <th>Aktiv?</th>
                    <th>Publisert?</th>
                    <th>Normal?</th>
                    <th>
                        <abbr title="Ledige">L</abbr> /
                        <abbr title="Reservert">R</abbr> /
                        <abbr title="Annulert">A</abbr> /
                        <abbr title="Innsjekkede">I</abbr>
                    </th>
                    <th>Solgt</th>
                    <th>Omsetning</th>
                </tr>
            </thead>
            <tbody ng-sortable="{animation: 100, onUpdate: ctrl.onTicketgroupsOrder}">
                <tr ng-class="{ 'not-published': !g.is_published, 'not-active': !g.is_active }" ng-repeat="g in event.ticketgroups">
                    <td>
                        <a ng-href="api/ticketgroup/{{g.id}}/previewticket" target="_blank">
                            <span class="glyphicon glyphicon-eye-open" title="Forhåndsvis"></span>
                        </a>
                    </td>
                    <td>{{g.id}}</td>
                    <td><a href="a/event/{{event.id}}/ticketgroup/{{g.id}}">{{g.title}}</a></td>
                    <td>{{g.price+g.fee|price}}</td>
                    <td>{{g.fee|price}}</td>
                    <td>{{g.is_active ? 'Ja' : 'Nei'}}</td>
                    <td>{{g.is_published ? 'Ja' : 'Nei'}}</td>
                    <td>{{g.is_normal ? 'Ja' : 'Nei'}}</td>
                    <td>
                        {{event.ticket_count.groups[g.id].free}} /
                        {{event.ticket_count.groups[g.id].pending}} /
                        {{event.ticket_count.groups[g.id].revoked}} /
                        {{event.ticket_count.groups[g.id].used}}
                    </td>
                    <td>
                        {{event.ticket_count.groups[g.id].valid}}
                        <span ng-show="g.limit">
                            / {{g.limit}}
                        </span>
                    </td>
                    <td>
                        {{event.ticket_count.groups[g.id].sum_price|price}}
                        +
                        {{event.ticket_count.groups[g.id].sum_fee|price}}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="8">&nbsp;</th>
                    <th>
                        {{event.ticket_count.totals.free}} /
                        {{event.ticket_count.totals.pending}} /
                        {{event.ticket_count.totals.revoked}} /
                        {{event.ticket_count.totals.used}}
                    </th>
                    <th>
                        {{event.ticket_count.totals.valid}}
                        / {{event.max_sales}}
                    </th>
                    <th>
                        {{event.ticket_count.totals.sum_price|price}}
                        +
                        {{event.ticket_count.totals.sum_fee|price}}
                    </th>
                </tr>
                <tr ng-show="event.max_normal_sales">
                    <th colspan="8">Kun &laquo;normale&raquo; salg</th>
                    <th>
                        {{event.ticket_count.totals.free_normal}} /
                        - /
                        - /
                        -
                    </th>
                    <th>
                        - /
                        {{event.max_normal_sales}}
                    </th>
                    <th>&nbsp;</th>
            </tfoot>
        </table>
    </div>

</div>
