@if (group) {
  <!-- TODO(migrate)
<page-property
  name="description"
  value="Oversikt over arrangementer for {{ group.title }}"
></page-property>
-->

  <div class="eventgroup-page">
    <div class="page-header">
      <h1>
        {{ group.title }}
        @if (has_role_admin) {
          <span class="pull-right">
            <a href="a/eventgroup/{{ group.id }}" class="btn btn-primary"
              >Admin</a
            >
          </span>
        }
      </h1>
    </div>

    @if (group.events.length == 0) {
      <div>
        <p>Ingen arrangementer eksisterer.</p>
      </div>
    }

    @if (group.events.length > 0) {
      <div>
        @if (isFilter) {
          <p>
            <a href="eventgroup/{{ group.id }}">Vis hele arrangementlista</a>
          </p>
        }

        <div class="eventgroup-event-list">
          <ul class="days">
            @for (item of days | keyvalue; track item.key) {
              <li class="day">
                <div class="header">
                  <a [href]="'eventgroup/' + group.id + '/' + item.key">
                    <span class="date">
                      <span>{{
                        item.value[0].time_start - 21600 | formatdate: "dddd"
                      }}</span>
                      {{
                        item.value[0].time_start - 21600
                          | formatdate: "D. MMMM YYYY"
                      }}
                    </span>
                    @if (daythemes[item.key]) {
                      <span class="theme">{{ daythemes[item.key] }}</span>
                    }
                  </a>
                </div>

                <!-- each event -->
                @for (event of item.value; track event.id) {
                  <ul class="event">
                    <li>{{ event.time_start | formatdate: "HH:mm" }}</li>
                    <li>{{ event.location }}</li>

                    <li>
                      <!-- admin links -->
                      <div class="edit-link-wrap" [hidden]="!has_role_admin">
                        <span class="edit-link">
                          <a href="a/event/{{ event.id }}/edit">Rediger</a>
                          <a href="a/event/{{ event.id }}">Detaljert</a>
                        </span>
                      </div>

                      <a
                        href="event/{{ event.alias || event.id }}"
                        target="_top"
                      >
                        {{ event.title }}
                      </a>
                      <span
                        class="category"
                        [ngClass]="'category-' + categoryNum(event.category)"
                        [hidden]="!event.category"
                      >
                        <a
                          [href]="
                            'eventgroup/' + group.id + '/' + event.category
                              | lowercase
                          "
                          >{{ event.category }}</a
                        >
                      </span>
                    </li>
                    <li>
                      <div [hidden]="!!event.ticket_info">
                        <span [hidden]="event.web_selling_status != 'unknown'"
                          >TBA</span
                        >
                        <span
                          [hidden]="event.web_selling_status != 'no_tickets'"
                        ></span>
                        <span
                          [hidden]="event.web_selling_status != 'old'"
                        ></span>
                        <span
                          [hidden]="
                            event.web_selling_status != 'no_web_tickets'
                          "
                        ></span>
                        <span [hidden]="event.web_selling_status != 'timeout'"
                          >I døra</span
                        >
                        <span [hidden]="event.web_selling_status != 'sold_out'"
                          >Utsolgt</span
                        >
                        <span [hidden]="event.web_selling_status != 'sale'">
                          <a
                            href="event/{{ event.alias || event.id }}"
                            target="_top"
                          >
                            <img
                              src="/assets/graphics/billettgul.png"
                              alt="Kjøp billett"
                            />
                          </a>
                        </span>
                      </div>

                      <div [hidden]="!event.ticket_info">
                        {{ event.ticket_info }}
                      </div>
                    </li>
                  </ul>
                }
              </li>
            }
          </ul>
        </div>
      </div>
    }
  </div>
}
