@import "../../common/vars";

.day {
  margin-top: 30px;
  @media (min-width: $grid-float-breakpoint) {
    margin-top: 40px;
  }
}
.header {
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  border-bottom: 2px solid $hr-border;
  @media (min-width: $grid-float-breakpoint) {
    font-size: 120%;
  }
  a {
    color: $text-color;
  }
  .date {
    float: right;
    span {
      font-weight: bold;
    }
  }
  .theme {
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

:host-context(.isInIframe) {
  .header {
    border-bottom: none;
    margin-bottom: 0;
  }
}
