<billett-page-states [loading]="eventgroup.isLoading()" [error]="eventgroup.error()" />
<billett-page-property name="title" value="Arrangementgruppe" />

@if (eventgroup.hasValue()) {
  @let group = eventgroup.value();
  <billett-page-property name="title" [value]="group.title" />
  <billett-page-property name="description" value="Oversikt over arrangementer for {{ group.title }}" />

  <div class="page-header">
    <h1>
      {{ group.title }}
      @if (authService.isAdmin$ | async) {
        <span class="pull-right">
          <a routerLink="/a/eventgroup/{{ group.id }}" class="btn btn-primary">Admin</a>
        </span>
      }
    </h1>
  </div>

  @if (group.events.length === 0) {
    <p>Ingen arrangementer eksisterer.</p>
  }

  @if (group.events.length > 0) {
    @if (filter()) {
      <p>
        <a routerLink="/eventgroup/{{ group.id }}">Vis hele arrangementlista</a>
      </p>
    }

    <div class="eventgroup-event-list">
      <ul class="days">
        @for (item of days() | keyvalue; track item.key) {
          <li class="day">
            <div class="header">
              <a routerLink="/eventgroup/{{ group.id }}/{{ item.key }}">
                <span class="date">
                  <span>{{ item.value[0].time_start - 21600 | formatdate: "dddd" }}</span>
                  {{ item.value[0].time_start - 21600 | formatdate: "D. MMMM YYYY" }}
                </span>
                @if (daythemes()[item.key]) {
                  <span class="theme">{{ daythemes()[item.key] }}</span>
                }
              </a>
            </div>

            <!-- each event -->
            @for (event of item.value; track event.id) {
              <billett-eventlist-item [event]="event" [eventgroup]="group" />
            }
          </li>
        }
      </ul>
    </div>
  }
}
