@import "../../common/vars";

.admin-ticketgroup-add {
  dl {
    margin: 0;
  }

  .search-options label:not(:first-child) {
    margin-left: 10px;
  }

  .event-list {
    max-height: 600px;
    overflow-y: auto;

    tbody.old {
      opacity: 0.7;
    }

    tbody > tr:nth-child(odd) {
      background-color: transparent;
    }
    tbody > tr:nth-child(even) {
      background-color: $table-bg-accent;
    }
    tbody > tr.no-office {
      background: hsl(55, 43%, 90%);
    }
    tbody > tr.no-office.no-web {
      background: hsl(10, 80%, 90%);
    }

    td {
      vertical-align: middle;
    }

    tbody + tbody:before {
      content: "";
      height: 20px;
      display: block;
    }

    th {
      border-top: 0;
    }

    td:nth-child(2),
    td:nth-child(3) {
      white-space: nowrap;
      text-align: right;
    }

    .event-time {
      display: block;
      font-weight: normal;
      font-size: 95%;
    }

    .price-fee {
      display: block;
      color: $gray-light;
      font-size: 75%;
    }

    .ticket-text {
      color: $gray-light;
      font-size: 75%;
    }

    .count-info {
      font-weight: normal;
    }

    abbr {
      margin-left: 5px;
      font-weight: normal;
    }

    button {
      margin-left: 3px;
    }
  }
}
