.eventgroup-event-list {
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .header {
    margin: 15px 0 10px 0;
    padding: 0 0 5px 0;
    border-bottom: 2px solid $hr-border;
    font-weight: bold;
    @media (min-width: $grid-float-breakpoint) {
      font-size: 120%;
      margin-top: 25px;
    }
    a {
      color: $text-color;
    }
  }
  .event {
    display: flex;
    background-color: #FAFAFA;
    border-radius: 3px;
    padding: 3px;
    margin: 2px 0;
    &:nth-child(odd) {
      background-color: #F5F5F5;
    }

    &:hover {
      background-color: #EEEEEE;
    }

    @media (min-width: $grid-float-breakpoint) {
      padding: 5px;
    }

    // 1 => time
    // 2 => location
    // 3 => title
    // 4 => ticket info

    // time
    li:nth-child(1),
    li:nth-child(4) {
      flex: none;
      font-size: 90%;
      padding-top: 1px;
      @media (min-width: $grid-float-breakpoint) {
        font-size: 100%;
        padding-top: 0;
      }
    }
    li:nth-child(1) {
      font-weight: bold;
      margin-right: 5px;
    }
    li:nth-child(4) {
      margin-left: 5px;
    }

    li:nth-child(2) {
      display: none;
      @media (min-width: $grid-float-breakpoint) {
        display: inherit;
        flex: none;
        width: 140px;
        margin-left: 10px;
        color: $gray;
      }
    }

    li:nth-child(3) {
      flex: auto;
    }

    .edit-link-wrap {
      display: none;
      .edit-link {

      }
    }

    .category {
      background-color: #62936a;
      padding: 2px 3px;
      border-radius: 5px;
      font-size: 75%;
      opacity: 0.8;
      a {
        color: $text-color;
      }
    }

    @for $i from 0 through 8 {
      .category-#{$i} {
        background-color: adjust-hue(hsla(0, 100%, 90%, 1), $i*35);
      }
    }
  }
  &.eventgroup-upcoming {
    li:nth-child(1) {
      font-weight: normal;
      span {
        font-weight: bold;
      }
    }
  }
}