<page-property name="description" value="Oversikt over arrangementer for {{group.title}}"></page-property>

<div class="eventgroup-page">
    <div class="page-header">
        <h1>
            {{group.title}}
        <span ng-if="AuthService.hasRole('billett.admin')" class="pull-right">
            <a ng-href="a/eventgroup/{{group.id}}" class="btn btn-primary">Admin</a>
        </span>
        </h1>
    </div>

    <div ng-if="group.events.length == 0">
        <p>Ingen arrangementer eksisterer.</p>
    </div>

    <div ng-if="group.events.length > 0">

        <p ng-if="isFilter">
            <a ng-href="eventgroup/{{group.id}}">Vis hele arrangementlista</a>
        </p>

        <div class="eventgroup-event-list">
            <ul class="days">
                <li class="day" ng-repeat="(day, events) in days">
                    <div class="header">
                        <a ng-href="{{::('eventgroup/'+group.id+'/'+day)}}">
                            <span class="date">
                                <span>{{::events[0].time_start-21600|formatdate:'dddd'}}</span>
                                {{::events[0].time_start-21600|formatdate:'D. MMMM YYYY'}}
                            </span>
                            <span class="theme" ng-if="daythemes[day]">{{daythemes[day]}}</span>
                        </a>
                    </div>

                    <!-- each event -->
                    <ul class="event" ng-repeat="event in events">
                        <li>{{::event.time_start|formatdate:'HH:mm'}}</li>
                        <li>{{::event.location}}</li>

                        <li>
                            <!-- admin links -->
                            <div class="edit-link-wrap" ng-show="AuthService.hasRole('billet.admin')">
                            <span class="edit-link">
                                <a ng-href="a/event/{{::event.id}}/edit">Rediger</a>
                                <a ng-href="a/event/{{::event.id}}">Detaljert</a>
                            </span>
                            </div>

                            <a ng-href="event/{{::event.alias||event.id}}" target="_top">{{::event.title}}</a>
                            <span class="category" ng-class="'category-'+categoryNum(event.category)"
                                  ng-show="::event.category"><a ng-href="{{::('eventgroup/'+group.id+'/'+event.category|lowercase)}}">{{::event.category}}</a></span>
                        </li>
                        <li>
                            <div ng-show="::!event.ticket_info">
                                <span ng-show="::event.web_selling_status == 'unknown'">TBA</span>
                                <span ng-show="::event.web_selling_status == 'no_tickets'"></span>
                                <span ng-show="::event.web_selling_status == 'old'"></span>
                                <span ng-show="::event.web_selling_status == 'no_web_tickets'"></span>
                                <span ng-show="::event.web_selling_status == 'timeout'">I døra</span>
                                <span ng-show="::event.web_selling_status == 'sold_out'">Utsolgt</span>
                            <span ng-show="::event.web_selling_status == 'sale'">
                                <a href="event/{{::event.alias||event.id}}" target="_top">
                                    <img src="http://blindernuka.no/2013/img/program/billettgul.png" alt="Kjøp billett">
                                </a>
                            </span>
                            </div>

                            <div ng-show="::event.ticket_info">
                                {{::event.ticket_info}}
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>

</div>