<div class="modal-header">
  <h3 class="modal-title">Tilordne oppgjør</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" (ngSubmit)="complete()" ngNativeValidate>
    <div class="form-group">
      <label class="col-sm-4 control-label">Beløp</label>
      <div class="col-sm-7 form-control-static">
        {{ data.amount | price }}
      </div>
    </div>
    <div class="form-group">
      <label for="paymentgroup" class="col-sm-4 control-label">Oppgjørsgruppe</label>
      <div class="col-sm-7">
        <billett-admin-paymentgroup-selectbox [eventgroupId]="data.eventgroupId" [(paymentgroup)]="paymentgroup" />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-7 col-sm-offset-4">
        <button class="btn btn-success" type="submit" [disabled]="!paymentgroup || handling">
          {{ data.actionText }}
        </button>
        <button class="btn btn-default" type="button" (click)="cancel()">Avbryt</button>
      </div>
    </div>
  </form>
</div>
