@if (resourceState.loading) {
  <div class="form-control-static">Laster oppgjørsgrupper ...</div>
} @else if (resourceState.error) {
  <div class="form-control-static">Feil: {{ getErrorText(resourceState.error) }}</div>
} @else if (paymentgroups) {
  <select class="form-control" [(ngModel)]="selectedPaymentgroupId" name="selectedPaymentgroupId" (change)="update()">
    @if (!paymentgroup) {
      <option value="">Velg ...</option>
    }
    @for (g of paymentgroups; track g.id) {
      <option [value]="g.id">
        {{ g.time_start | formatdate: "DD.MM.YYYY HH:mm" }} ({{ g.user_created }}): {{ g.title }}
      </option>
    }
  </select>
  <span class="help-block">
    <button class="btn btn-link" type="button" style="padding: 0" (click)="createNew()">Opprett ny</button>
  </span>
}
