@if (!paymentgroups) {
  <div class="form-control-static">Laster oppgjørsgrupper ...</div>
} @else {
  <select class="form-control" [(ngModel)]="selectedPaymentgroupId" name="selectedPaymentgroupId" (change)="update()">
    @if (!paymentgroup) {
      <option value="">Velg ...</option>
    }
    @for (g of paymentgroups; track g.id) {
      <option [value]="g.id">
        {{ g.time_start | formatdate: "DD.MM.YYYY HH:mm" }} ({{ g.user_created }}): {{ g.title }}
      </option>
    }
  </select>
  <span class="help-block">
    <a href="" (click)="$event.preventDefault(); createNew()">Opprett ny</a>
  </span>
}
