<div class="admin-paymentgroup-list">
  <page-property name="title" value="Oppgjør"></page-property>

  <div class="page-header">
    <h1>
      <span class="eventgroup">
        <a routerLink="a/eventgroup/{{ ctrl.eventgroup.id }}">{{
          ctrl.eventgroup.title
        }}</a>
      </span>
      Oppgjør
      <a class="btn btn-default pull-right" (click)="ctrl.new()"
        >Nytt oppgjør</a
      >
    </h1>
  </div>

  <p class="text-muted">
    Alle billetter og transaksjoner endret/opprettet i billettluke må tilegnes
    et oppgjør. Når oppgjøret avsluttes registrerer man Z-rapport fra
    betalingsterminal, kontantopptelling m.v. for å kontrollere at
    transaksjonene stemmer. Oppgjøret danner også grunnlaget for salgsinntekten
    som føres i regnskapet.
  </p>

  @if (ctrl.paymentgroups.length == 0) {
    <p>Ingen oppgjør eksisterer for denne arrangementgruppen.</p>
  }

  @if (ctrl.paymentgroups.length > 0) {
    <table class="table">
      <thead>
        <tr>
          <th>Tittel</th>
          <th>Opprettet</th>
          <th>Avsluttet</th>
        </tr>
      </thead>
      <tbody>
        @for (group of ctrl.paymentgroups; track group) {
          <tr>
            <td>
              <a routerLink="a/paymentgroup/{{ group.id }}">{{::group.title}}</a>
            </td>
            <td>
              {{::group.time_start|formatdate:'DD.MM.YYYY'}} av
              {{::group.user_created}}
            </td>
            @if (::group.time_end) {
              <td>
                {{::group.time_end|formatdate:'DD.MM.YYYY'}} av
                {{::group.user_closed}}
              </td>
            }
            @if (::!group.time_end) {
              <td>Ikke avsluttet</td>
            }
          </tr>
        }
      </tbody>
    </table>
  }
</div>
