<billett-page-states [state]="pageState" />
<billett-page-property name="title" value="Ny temadag" />

@if (eventgroup) {
  <div class="page-header">
    <h1>Ny temadag for {{ eventgroup.title }}</h1>
  </div>

  <form (ngSubmit)="storeDaytheme()" class="form-horizontal" autocomplete="off" ngNativeValidate>
    <h3>Grunnleggende informasjon</h3>
    <div class="form-group">
      <label for="title" class="col-sm-3 control-label">Tittel</label>
      <div class="col-sm-9 col-md-6">
        <input type="text" name="title" class="form-control" [(ngModel)]="form.title" required autofocus />
      </div>
      <div class="col-sm-4 col-md-3">
        <input type="datetime" name="date" class="form-control" [(ngModel)]="form.date" placeholder="YYYY-MM-DD" />
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-9 col-md-6 col-sm-offset-3">
        <input type="submit" value="Opprett" class="btn btn-primary" />
        <a routerLink="/a/eventgroup/{{ eventgroupId }}">Avbryt</a>
      </div>
    </div>
  </form>
}
