<style>
  .isLoading {
    opacity: 0.4;
  }
</style>

<billett-page-states [state]="pageState" />

@if (event) {
  <div>
    <billett-page-property
      name="title"
      value="Innsjekking: {{ event.title }} ({{ event.time_start | formatdate: 'DD. MMM' }})"
    />

    <div class="page-header">
      <h1>
        <span class="eventgroup">
          <a routerLink="/a/eventgroup/{{ event.eventgroup.id }}">
            {{ event.eventgroup.title }}
          </a>
        </span>
        <a routerLink="/a/event/{{ event.id }}">
          {{ event.title }} ({{ event.time_start | formatdate: "ddd D. MMM YYYY HH.mm" }})
        </a>
        <span class="pull-right">
          <button class="btn btn-primary" (click)="loadAllTickets()">Last inn hele billettlista</button>
          <a
            class="btn btn-default"
            routerLink="/a/orders"
            [queryParams]="{ eventgroup_id: event.eventgroup.id }"
            target="_blank"
          >
            Avansert ordresøk
          </a>
        </span>
      </h1>
    </div>

    <div class="row">
      <div class="col-sm-5">
        <table class="table table-striped table-condensed ticketgroups">
          <thead>
            <tr>
              <th>Billettgruppe</th>
              <th>
                <abbr title="Ledige">L</abbr> /
                <abbr title="Reservert">R</abbr>
              </th>
              <th>Innsjekkede</th>
            </tr>
          </thead>
          <tbody>
            @for (g of event.ticketgroups; track g.id) {
              <tr>
                <td>
                  #{{ g.id }} <a routerLink="/a/event/{{ event.id }}/ticketgroup/{{ g.id }}">{{ g.title }}</a
                  >&nbsp;<abbr title="Pris inkl. avgift">{{ g.price + g.fee | price }}</abbr>
                  @if (!g.is_normal) {
                    (teller ikke som normal)
                  }
                </td>
                <td>
                  {{ event.ticket_count.groups[g.id].free }} /
                  {{ event.ticket_count.groups[g.id].pending }}
                </td>
                <td>
                  {{ event.ticket_count.groups[g.id].used }} /
                  {{ event.ticket_count.groups[g.id].valid }}
                  ({{ event.ticket_count.groups[g.id].valid - event.ticket_count.groups[g.id].used }}
                  gjenstår)
                </td>
              </tr>
            }
          </tbody>
          <tfoot>
            <tr>
              <th colspan="1">&nbsp;</th>
              <th>
                {{ event.ticket_count.totals.free }} /
                {{ event.ticket_count.totals.pending }}
              </th>
              <th>
                {{ event.ticket_count.totals.used }} /
                <abbr title="Gyldige billetter">{{ event.ticket_count.totals.valid }}</abbr>
                /
                @if (event.max_normal_sales) {
                  <abbr title="Billetter lagt ut for salg">{{ event.max_normal_sales }}</abbr>
                  (<abbr title="Øvre billettbegrensning">{{ event.max_sales }}</abbr
                  >)
                }
                @if (!event.max_normal_sales) {
                  <abbr title="Billetter lagt ut for salg">{{ event.max_sales }}</abbr>
                }
                <br />
                ({{ event.ticket_count.totals.valid - event.ticket_count.totals.used }}
                gjenstår)
              </th>
            </tr>
          </tfoot>
        </table>

        <hr />

        <h3>Siste innsjekkede billetter</h3>
        @if (!lastUsedTickets && lastUsedTicketsLoading) {
          <p>Laster data...</p>
        }
        @if (lastUsedTickets && lastUsedTickets.length == 0 && !lastUsedTicketsLoading) {
          <p>Ingen billetter er innsjekket.</p>
        }
        @if (lastUsedTickets && lastUsedTickets.length > 0) {
          <table
            [ngClass]="{ isLoading: lastUsedTicketsLoading }"
            class="table table-striped table-condensed ticket-list-table"
          >
            <thead>
              <tr>
                <th>Ordre</th>
                <th>Billett</th>
              </tr>
            </thead>
            <tbody>
              @for (ticket of lastUsedTickets; track ticket.id) {
                <tr>
                  <td>
                    <a routerLink="/a/order/{{ ticket.order.id }}">{{ ticket.order.order_text_id }}</a
                    ><br />
                    {{ ticket.order.time | formatdate: "dd. DD.MM.YYYY HH:mm" }}

                    @if (ticket.order.name) {
                      <span class="order-detail">{{ ticket.order.name }}</span>
                    }
                    @if (ticket.order.email) {
                      <span class="order-detail">{{ ticket.order.email }}</span>
                    }
                    @if (ticket.order.phone) {
                      <span class="order-detail">{{ ticket.order.phone }}</span>
                    }
                    @if (!ticket.order.name && !ticket.order.email && !ticket.order.phone) {
                      <span class="order-detail"><i>Ingen detaljer</i></span>
                    }
                  </td>
                  <td
                    [ngClass]="{
                      reservation: !ticket.is_valid,
                      revoked: ticket.is_revoked,
                    }"
                  >
                    @if (ticket.used) {
                      <div class="checkin-time">Innsjekket {{ ticket.used | formatdate: "HH:mm:ss" }}</div>
                    }
                    <a href="/api/ticket/{{ ticket.id }}/pdf" target="_self">#{{ ticket.id }}</a>
                    @if (ticket.is_valid && !ticket.is_revoked) {
                      @if (ticket.used) {
                        <button class="btn btn-danger" (click)="checkout(ticket)">Utsjekk</button>
                      }
                      @if (!ticket.used) {
                        <button class="btn btn-success" (click)="checkin(ticket)">Innsjekk</button>
                      }
                    }
                    ({{ ticket.ticketgroup.title }})
                  </td>
                </tr>
              }
            </tbody>
          </table>
        }
      </div>

      <div class="col-sm-7">
        <div
          [ngClass]="{
            'alert-success': keyticket && keyok && !keyticket.isWorking && !ordersLoading,
            'alert-danger': keyticket && !keyok && !ordersLoading,
          }"
          class="alert checkin-form"
        >
          <form class="form-horizontal" (ngSubmit)="performSearch()" (input)="queueSearch()" autocomplete="off">
            <div class="form-group">
              <label class="col-sm-4 control-label">Navn eller strekkode</label>
              <div class="col-sm-8">
                <input
                  class="form-control"
                  type="text"
                  id="keyfield"
                  name="keyfield"
                  [(ngModel)]="searchinput.name"
                  autofocus=""
                />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">E-post</label>
              <div class="col-sm-8">
                <input class="form-control" type="text" name="email" [(ngModel)]="searchinput.email" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Telefon</label>
              <div class="col-sm-8">
                <input class="form-control" type="text" name="phone" [(ngModel)]="searchinput.phone" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Ordrenr</label>
              <div class="col-sm-8">
                <input class="form-control" type="text" name="id" [(ngModel)]="searchinput.id" />
              </div>
            </div>
            <input type="submit" value="Søk" style="display: none" />
          </form>

          @if (!keyticket) {
            <p>Ved scanning av strekkode vil billett automatisk bli markert som benyttet, dersom mulig.</p>
          }

          @if (keyticket) {
            <h4>Scanning av strekkode</h4>
            @if (keyticket.isWorking) {
              <p>Sjekker inn billett...</p>
            }
            @if (!keyticket.isWorking) {
              @if (keyok) {
                <p><b>Billetten ble innsjekket</b></p>
              }
              @if (!keyok) {
                <p>
                  <b>Billetten kan ikke sjekkes inn. Allerede innsjekket eller ugyldig billett?</b>
                </p>
              }
            }
          }
        </div>

        <!-- resultat etter ordresøk -->
        @if (orders || ordersLoading) {
          <h3>Ordresøk</h3>
          @if (!orders || !orders.result) {
            <div class="page-loading">Søker...</div>
          } @else if (orders.result.length == 0) {
            <p class="text-center">Ingen ordrer ble funnet.</p>
          } @else {
            <table class="table table-striped table-condensed order-list-table">
              <thead>
                <tr>
                  <th>Ordre</th>
                  <th>Billetter</th>
                </tr>
              </thead>
              <tbody>
                @for (order of orders.result; track order.id) {
                  <tr [ngClass]="{ invalid: !order.is_valid }">
                    <td>
                      <a routerLink="/a/order/{{ order.id }}">{{ order.order_text_id }}</a
                      ><br />
                      {{ order.time | formatdate: "dd. DD.MM.YYYY HH:mm" }}
                      @if (!order.is_valid) {
                        <br />(kun reservasjon)
                      }

                      @if (order.name) {
                        <span class="order-detail">{{ order.name }}</span>
                      }
                      @if (order.email) {
                        <span class="order-detail">{{ order.email }}</span>
                      }
                      @if (order.phone) {
                        <span class="order-detail">{{ order.phone }}</span>
                      }
                      @if (!order.name && !order.email && !order.phone) {
                        <span class="order-detail"><i>Ingen detaljer</i></span>
                      }

                      @if (order.balance != "0.00") {
                        <span class="unbalance"><br />(ubalanse: {{ order.balance | price }})</span>
                      }
                    </td>
                    <td>
                      <ul>
                        @for (ticket of order.tickets; track ticket.id) {
                          <li
                            [ngClass]="{
                              reservation: !ticket.is_valid,
                              revoked: ticket.is_revoked,
                              keyresult: ticket.key == keysearch,
                            }"
                          >
                            <a href="/api/ticket/{{ ticket.id }}/pdf" target="_self">#{{ ticket.id }}</a>
                            @if (ticket.event.id == event.id && ticket.is_valid && !ticket.is_revoked) {
                              @if (ticket.used) {
                                <button class="btn btn-danger" (click)="checkout(ticket)">Utsjekk</button>
                              }
                              @if (!ticket.used) {
                                <button class="btn btn-success" (click)="checkin(ticket)">Innsjekk</button>
                              }
                            }
                            @if (ticket.event.id != event.id) {
                              @if (ticket.event.id != event.id) {
                                <a routerLink="/a/event/{{ ticket.event.id }}">
                                  {{ ticket.event.title }}
                                  ({{ ticket.event.time_start | formatdate: "DD.MM \\k\\l HH" }})
                                </a>
                              }
                            }
                            ({{ ticket.ticketgroup.title }})
                            @if (ticket.key == keysearch) {
                              <b>(DENNE BLE SØKT OPP)</b>
                            }
                          </li>
                        }
                      </ul>
                    </td>
                  </tr>
                }
              </tbody>
            </table>

            <div class="text-center">
              <billett-pagination
                [page]="searchinput.page"
                [total]="orders.pagination.total"
                [limit]="orders.pagination.limit"
                (changePage)="searchinput.page = $event"
              />
            </div>
          }
        }

        <!-- hele billettlisten -->
        @if (tickets || ticketsLoading) {
          <h3>Billettliste</h3>
          @if (!tickets) {
            <div class="page-loading">Henter data...</div>
          } @else if (tickets.length == 0) {
            <p class="text-center">Ingen billetter ble funnet.</p>
          } @else if (tickets.length > 0) {
            <table class="table table-striped table-condensed ticket-list-table">
              <thead>
                <tr>
                  <th>Ordre</th>
                  <th>Billetter</th>
                </tr>
              </thead>
              <tbody>
                @for (order of tickets; track order.id) {
                  <tr [ngClass]="{ invalid: !order.is_valid }">
                    <td>
                      <a routerLink="/a/order/{{ order.id }}">{{ order.order_text_id }}</a
                      ><br />
                      {{ order.time | formatdate: "dd. DD.MM.YYYY HH:mm" }}
                      @if (!order.is_valid) {
                        <br />(kun reservasjon)
                      }

                      @if (order.name) {
                        <span class="order-detail">{{ order.name }}</span>
                      }
                      @if (order.email) {
                        <span class="order-detail">{{ order.email }}</span>
                      }
                      @if (order.phone) {
                        <span class="order-detail">{{ order.phone }}</span>
                      }
                      @if (!order.name && !order.email && !order.phone) {
                        <span class="order-detail"><i>Ingen detaljer</i></span>
                      }

                      @if (parseFloat(order.balance) != 0) {
                        <span class="unbalance"><br />(ubalanse: {{ order.balance | price }})</span>
                      }
                    </td>
                    <td>
                      <ul>
                        @for (ticket of order.tickets; track ticket.id) {
                          <li
                            [ngClass]="{
                              reservation: !ticket.is_valid,
                              revoked: ticket.is_revoked,
                            }"
                          >
                            <a href="/api/ticket/{{ ticket.id }}/pdf" target="_self">#{{ ticket.id }}</a>
                            @if (ticket.is_valid && !ticket.is_revoked) {
                              @if (ticket.used) {
                                <button class="btn btn-danger" (click)="checkout(ticket)">Utsjekk</button>
                              }
                              @if (!ticket.used) {
                                <button class="btn btn-success" (click)="checkin(ticket)">Innsjekk</button>
                              }
                            }
                            ({{ ticket.ticketgroup.title }})
                          </li>
                        }
                      </ul>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          }
        }
      </div>
    </div>
  </div>
}
