
<div class="page-header">
    <h1>
        <span class="eventgroup">
            <a ng-show="is_new" ng-href="a/eventgroup/{{eventgroup_id}}">{{group.title}}</a>
            <a ng-show="!is_new" ng-href="a/event/{{event.id}}">{{group.title}}</a>
        </span>
        <span ng-show="is_new">Nytt arrangement</span>
        <span ng-show="!is_new">{{event.title}}</span>
    </h1>
</div>

<div ng-show="is_new">
    <p>Når arrangementet er opprettet kan man opprette billettgrupper, redigere informasjonen, laste opp arrangementbilde m.v.</p>
</div>

<div ng-show="!is_new">
    <p>Bilde for arrangementet endres på infosiden for arrangementet (holder musa over bildet).</p>
</div>

<form ng-submit="storeEvent()" class="form-horizontal" autocomplete="off">
    <h3>Grunnleggende informasjon</h3>
    <div class="form-group">
        <label for="title" class="col-sm-3 control-label">Tittel</label>
        <div class="col-sm-9 col-md-6">
            <input type="text" class="form-control" ng-model="event.title" id="title" placeholder="" required autofocus>
        </div>
    </div>
    <div class="form-group">
        <label for="start" class="col-sm-3 control-label">Varighet</label>
        <div class="col-sm-4 col-md-3">
            <input type="datetime" class="form-control" ng-model="time_start_text" ng-change="updateTime('start')" id="start" placeholder="Start (DD.MM.YYYY HH:MM)" required>
            <span ng-show="event.time_start" class="help-block">{{event.time_start|formatdate:'DD.MM.YYYY HH:mm'}}</span>
            <span ng-show="!event.time_start && time_start_text" class="help-block">Manglende inndata</span>
        </div>
        <div class="col-sm-4 col-md-3">
            <input type="datetime" class="form-control" ng-model="time_end_text" ng-change="updateTime('end')" id="end" placeholder="Slutt (DD.MM.YYYY HH:MM)">
            <span ng-show="event.time_end" class="help-block">{{event.time_end|formatdate:'DD.MM.YYYY HH:mm'}}</span>
            <span ng-show="!event.time_end && time_end_text" class="help-block">Manglende inndata</span>
            <span class="help-block">Valgfritt</span>
        </div>
    </div>
    <div class="form-group">
        <label for="category" class="col-sm-3 control-label">Kategori</label>
        <div class="col-sm-9 col-md-6">
            <input type="text" class="form-control" ng-model="event.category" id="category" placeholder="(valgfritt)">
        </div>
    </div>
    <div class="form-group">
        <label for="location" class="col-sm-3 control-label">Sted</label>
        <div class="col-sm-9 col-md-6">
            <input type="text" class="form-control" ng-model="event.location" id="location" placeholder="(valgfritt)">
        </div>
    </div>

    <h3>Billettbegrensninger</h3>
    <div class="form-group">
        <label for="max_sales" class="col-sm-3 control-label">Totalbegrensning</label>
        <div class="col-sm-3">
            <input type="number" class="form-control" ng-model="event.max_sales" id="max_sales" placeholder="" required>
            <span class="help-block">Sett 0 dersom det ikke skal være billettsalg.</span>
        </div>
    </div>
    <div class="form-group">
        <label for="max_normal_sales" class="col-sm-3 control-label">Normale billetter</label>
        <div class="col-sm-3">
            <input type="number" class="form-control" ng-model="event.max_normal_sales" id="max_normal_sales" placeholder="(valgfritt)">
        </div>
    </div>
    <div class="form-group">
        <label for="max_each_person" class="col-sm-3 control-label">Per person</label>
        <div class="col-sm-3">
            <input type="number" class="form-control" ng-model="event.max_each_person" id="max_each_person" placeholder="" required>
        </div>
    </div>

    <h3>Mer informasjon</h3>
    <div ng-show="!is_new" class="form-group">
        <label for="alias" class="col-sm-3 control-label">Alias</label>
        <div class="col-sm-9 col-md-6">
            <input type="text" class="form-control" ng-model="event.alias" id="alias" placeholder="(valgfritt)">
            <span class="help-block">Hvis dette feltet fylles ut, vil adresselinja inneholde denne teksten i stedet for nummeret for arrangementet. Kan ikke endres etter det er satt!</span>
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-3 control-label">Beskrivelse</label>
        <div class="col-sm-9 col-md-6">
            <textarea class="form-control" ng-model="event.description" id="description" placeholder="(valgfritt)" rows="10"></textarea>
            <span class="help-block">Tekst på arrangementsiden. Formatteres med <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a></span>
        </div>
    </div>
    <div class="form-group">
        <label for="description_short" class="col-sm-3 control-label">Kort beskrivelse</label>
        <div class="col-sm-9 col-md-6">
            <textarea class="form-control" ng-model="event.description_short" id="description_short" placeholder="(valgfritt)" rows="2"></textarea>
            <span class="help-block">Tekst som kommer ved deling på f.eks. Facebook.</span>
        </div>
    </div>
    <div class="form-group">
        <label for="ticket_text" class="col-sm-3 control-label">Tekst på billettene</label>
        <div class="col-sm-9 col-md-6">
            <input type="text" class="form-control" ng-model="event.ticket_text" id="ticket_text" placeholder="(valgfritt)">
            <span class="help-block">Dette er tekst som vil stå på alle billettene. Det er også mulig å legge til tekst per billettgruppe i tillegg til denne teksten.</span>
        </div>
    </div>
    <div class="form-group">
        <label for="link" class="col-sm-3 control-label">Relatert artikkel</label>
        <div class="col-sm-9 col-md-6">
            <input type="text" class="form-control" ng-model="event.link" id="link" placeholder="(valgfritt)">
            <span class="help-block">Dette må være full adresse (lenke) til side hvor man finner mer informasjon.</span>
        </div>
    </div>
    <div class="form-group">
        <label for="age_restriction" class="col-sm-3 control-label">Aldersgrense</label>
        <div class="col-sm-3">
            <input type="number" class="form-control" ng-model="event.age_restriction" id="age_restriction" placeholder="(valgfritt)">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
            <label>
                <input type="checkbox" ng-model="event.is_published" ng-true-value="1" ng-false-value="0">
                Publiser arrangementet
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
            <label>
                <input type="checkbox" ng-model="event.is_selling" ng-true-value="1" ng-false-value="0">
                Annonser informasjon om billetter, inkl. om det ikke er billettsalg
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
            <label for="is_admin_hidden">
                <input type="checkbox" ng-model="event.is_admin_hidden" id="is_admin_hidden">
                Skjult som standard i arrangementlista i admin?
            </label>
        </div>
    </div>

    <div ng-show="!is_new" class="form-group">
        <div class="col-sm-9 col-md-6 col-sm-offset-3">
            <input type="submit" value="Oppdater" class="btn btn-primary">
            <a ng-href="a/event/{{event.id}}">Avbryt</a>
        </div>
    </div>
    <div ng-show="is_new" class="form-group">
        <div class="col-sm-9 col-md-6 col-sm-offset-3">
            <input type="submit" value="Opprett" class="btn btn-primary">
            <a ng-href="a/event/{{event.id}}">Avbryt</a>
        </div>
    </div>
</form>
