<page-states [state]="pageState"></page-states>

@if (group) {
  <div class="admin-eventgroup">
    <page-property name="title" value="{{ group.title }}"></page-property>

    <div class="page-header">
      <h1>
        <span class="eventgroup">
          <a routerLink="/a">Administrasjon</a>
        </span>
        {{ group.title }}

        <span class="pull-right">
          <a class="btn btn-success" routerLink="/a/order/new/{{ group.id }}"
            >Ny ordre</a
          >
          <a
            class="btn btn-default"
            routerLink="/a/orders"
            [queryParams]="{ eventgroup_id: group.id }"
            >Ordreliste</a
          >
        </span>
      </h1>
    </div>

    <ul>
      <li>
        <a routerLink="/a/eventgroup/{{ group.id }}/sold_tickets_stats"
          >Billettstatistikk (salgsoversikt)</a
        >
      </li>
      <li>
        <a routerLink="/a/eventgroup/{{ group.id }}/paymentgroups"
          >Oppgjørsoversikt</a
        >
      </li>
    </ul>

    <hr />

    <h2>
      Arrangementliste
      <span class="pull-right">
        <a
          routerLink="/a/eventgroup/{{ group.id }}/new_event"
          class="btn btn-default"
          >Nytt arrangement</a
        >
      </span>
    </h2>

    @if (group.events.length == 0) {
      <div>
        <p>Ingen arrangementer eksisterer.</p>
      </div>
    } @else {
      <div>
        <div class="form-inline">
          <select
            class="form-control"
            [(ngModel)]="filter_sale"
            ng-change="applyFilter()"
          >
            <option value="">Vis alle salgsmodus</option>
            <option value="1">Kun med billettgrupper</option>
            <option value="0">Kun uten billettgrupper</option>
          </select>
          <select
            class="form-control"
            [(ngModel)]="filter_category"
            ng-change="applyFilter()"
          >
            <option value="-1">Vis alle kategorier</option>
            @for (opt of categories; track opt) {
              <option value="{{ opt }}">
                {{ opt || "Tom kategori" }}
              </option>
            }
          </select>
          <select
            class="form-control"
            [(ngModel)]="filter_hidden"
            ng-change="applyFilter()"
          >
            <option value="0">Ikke vis skjulte oppføringer</option>
            <option value="1">Vis kun sjulte oppføringer</option>
            <option value="">Vis alle oppføringer</option>
          </select>
        </div>

        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Varighet</th>
              <th>Kategori</th>
              <th>Sted</th>
              <th>Tittel</th>
              <th>Salg</th>
              <th>Tilg.</th>
              <th>Omsatt</th>
              <th>Pub</th>
              <th>Billett-<br />info</th>
            </tr>
          </thead>
          @for (item of days | keyvalue; track item.key) {
            <tbody>
              <tr>
                <th colspan="9">
                  {{
                    item.value![0].time_start - 21600
                      | formatdate: "dddd D. MMMM YYYY"
                  }}
                </th>
              </tr>
              @for (event of item.value; track event) {
                <tr
                  [ngClass]="{
                    'event-not-published': !event.is_published,
                    'event-no-selling': !event.is_selling,
                  }"
                >
                  <td>
                    <b>{{ event.time_start | formatdate: "HH:mm" }}</b>
                    @if (event.time_end && event.time_end != event.time_start) {
                      <span>
                        - {{ event.time_end | formatdate: "HH:mm" }}
                      </span>
                    }
                  </td>
                  <td>{{ event.category }}</td>
                  <td>{{ event.location }}</td>
                  <td class="edit-link-container">
                    <div class="edit-link-wrap">
                      <span class="edit-link">
                        <a routerLink="/a/event/{{ event.id }}/edit">Rediger</a>
                        <a routerLink="/event/{{ event.id }}">Forhåndsvis</a>
                      </span>
                    </div>
                    <a routerLink="/a/event/{{ event.id }}">{{
                      event.title
                    }}</a>
                  </td>
                  <td>
                    @if (
                      event.max_sales != 0 ||
                      event.ticket_count.totals.valid != 0
                    ) {
                      <span>
                        <a
                          routerLink="/a/orders"
                          [queryParams]="{ 'tickets.event.id': event.id }"
                          >{{ event.ticket_count.totals.valid }}</a
                        >
                      </span>
                    }
                  </td>
                  <td>
                    {{
                      event.max_sales == 0 ? "" : event.ticket_count.totals.free
                    }}
                  </td>
                  <td>
                    {{
                      event.max_sales == 0 &&
                      event.ticket_count.totals.valid == 0
                        ? ""
                        : (event.ticket_count.totals.sum_price +
                            event.ticket_count.totals.sum_fee | price)
                    }}
                  </td>
                  <td
                    class="eventgroup-event-action"
                    (click)="eventTogglePublish(event)"
                  >
                    <i
                      class="glyphicon"
                      [ngClass]="
                        event.is_published ? 'glyphicon-ok' : 'glyphicon-remove'
                      "
                    ></i>
                  </td>
                  <td
                    class="eventgroup-event-action"
                    (click)="eventToggleSelling(event)"
                  >
                    <i
                      class="glyphicon"
                      [ngClass]="{
                        'event-not-selling': !event.is_selling,
                        'glyphicon-bullhorn': event.is_selling,
                        'glyphicon-question-sign': !event.is_selling,
                      }"
                    ></i>
                  </td>
                </tr>
              }
            </tbody>
          }
        </table>
      </div>
    }
  </div>
}
