<page-property name="title" value="Ordreliste"></page-property>

<div class="admin-order-list">

    <div class="page-header">
        <h1>
            <span class="eventgroup">
                <a href="a">Administrasjon</a>
            </span>
            Ordreliste

            <span class="pull-right" ng-if="search.eventgroup_id">
                <a class="btn btn-success" ng-href="a/order/new/{{search.eventgroup_id}}" accesskey="n">Ny ordre</a>
            </span>
        </h1>
    </div>

    <div class="row form-horizontal">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-sm-4 control-label">Ordrenr</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" ng-model="search.id" ng-model-options="{debounce:300}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Ordretekstnr</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" ng-model="search.order_text_id" ng-model-options="{debounce:300}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Billettnr</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" ng-model="search['tickets.id']" ng-model-options="{debounce:300}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Strekkode</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" ng-model="search['tickets.key']" ng-model-options="{debounce:300}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Arrangement (ID)</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" ng-model="search['tickets.event.id']" ng-model-options="{debounce:300}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Arrangement (tittel)</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" ng-model="search['tickets.event.title']" ng-model-options="{debounce:300}">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-sm-4 control-label">Transaksjonsnr</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" ng-model="search['payments.transaction_id']" ng-model-options="{debounce:300}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Navn</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" ng-model="search.name" ng-model-options="{debounce:300}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">E-post</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" ng-model="search.email" ng-model-options="{debounce:300}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Telefon</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" ng-model="search.phone" ng-model-options="{debounce:300}">
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="page-loading" ng-show="!orders.result">Søker...</div>

    <div ng-show="orders.result.length == 0">
        <p class="text-center">Ingen ordrer ble funnet.</p>
    </div>

    <div ng-show="orders.result.length > 0">
        <h2>Søkeresultat</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ordre</th>
                    <th>Detaljer</th>
                    <th>Ordretotal</th>
                    <th>Billetter</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{invalid: !order.is_valid}" ng-repeat="order in orders.result">
                    <td>
                        <a ng-href="a/order/{{::order.id}}">{{::order.order_text_id}}</a><br>
                        {{::order.time|formatdate:'dd. DD.MM.YYYY HH:mm'}}
                        <span ng-if="!order.is_valid"><br>(kun reservasjon)</span>
                    </td>
                    <td>
                        {{::order.name}}<br>
                        {{::order.email}}<br>
                        {{::order.phone}}
                        <span ng-show="::order.recruiter"><br>Vervet av: {{order.recruiter}}</span>
                    </td>
                    <td>
                        {{order.total_valid|price}}
                        <span ng-if="order.total_reserved"><br>(reservert: {{order.total_reserved|price}})</span>
                        <span class="unbalance" ng-if="order.balance != 0"><br>(ubalanse: {{order.balance|price}})</span>

                        <!--<div ng-repeat="payment in order.payments">
                            {{payment.time|formatdate:'DD.MM.YYYY'}}<br>
                            {{payment.is_web ? 'web: ' + payment.transaction_id : 'manual payment'}}<br>
                            {{payment.amount|price:0:true}}
                        </div>-->
                    </td>
                    <td>
                        <ul>
                            <li ng-class="{reservation: !ticket.is_valid, revoked: ticket.is_revoked}" ng-repeat="ticket in order.tickets">
                                <a ng-href="api/ticket/{{::ticket.id}}/pdf" target="_self">#{{::ticket.id}}</a>
                                <a ng-href="a/event/{{::ticket.event.id}}">{{::ticket.event.title}} ({{::ticket.event.time_start|formatdate:'DD.MM \\k\\l HH'}})</a>
                                ({{::ticket.ticketgroup.title}})
                                {{::(ticket.ticketgroup.price+ticket.ticketgroup.fee)|price:0:true}}
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="text-center">
            <pagination page-active="search.page" page-total="orders.pagination.total" page-limit="orders.pagination.limit"></pagination>
        </div>
    </div>

</div>