.admin-order-list {
  ul {
    margin: 0;
  }
  .pagination {
    margin: 0 auto;
  }

  .invalid {
    opacity: 0.6;
    color: red;
  }

  .reservation {
    color: red;
    &:after {
      content: ' (reservasjon)';
    }
  }
  .revoked {
    opacity: 0.6;
    text-decoration: line-through;
    &:after {
      content: ' (tilbaketrukket)';
    }
  }

  th:nth-child(3),
  td:nth-child(3) {
    text-align: right;
  }

  .unbalance {
    color: #FFF;
    background-color: #F00;
  }

  .order-detail {
    display: block;
  }
  .is_admin {
    font-size: 80%;
    background: $gray-lighter;
    padding: 1px;
    border-radius: 3px;
  }
}

.admin-order {
  hr {
    margin: 0;
  }

  .tickets {
    td {
      vertical-align: middle;
    }
    tr > :nth-child(5),
    tr > :nth-child(6) {
      text-align: right;
    }
    tr.revoked {
      opacity: 0.7;
      td:nth-child(3) {
        a {
          text-decoration: line-through;
        }
      }
      td:nth-child(5),
      td:nth-child(6) {
        text-decoration: line-through;
      }
    }
    tr.invalid {
      opacity: 0.7;
    }
    td:last-child {
      text-align: right;
    }
  }

  .payments {
    td {
      vertical-align: middle;
    }
    tr > :nth-child(2) {
      text-align: right;
    }
  }
}
