<div>
    <div class="modal-header">
        <h3 class="modal-title">Tilbaketrekk billett</h3>
    </div>
    <div class="modal-body" ng-show="!ctrl.sending">
        <p>En billett som tilbaketrekkes kan ikke aktiveres igjen. I så fall må ny billett opprettes.</p>

        <div ng-if="!ctrl.paymentgroups">
            Laster oppgjørsgrupper
        </div>

        <form class="form-horizontal" ng-submit="ctrl.revoke()" ng-if="ctrl.paymentgroups">
            <div class="row">
                <label class="col-sm-4 control-label">Billett</label>
                <div class="col-sm-7 form-control-static">
                    <a ng-href="a/event/{{ctrl.ticket.event.id}}">{{ctrl.ticket.event.time_start|formatdate:'D. MMM YYYY HH:mm'}}: {{ctrl.ticket.event.title}}</a> ({{ctrl.ticket.ticketgroup.title}}) #{{ctrl.ticket.id}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Pris</label>
                <div class="col-sm-7 form-control-static">
                    {{ctrl.ticket.ticketgroup.price+ctrl.ticket.ticketgroup.fee|price}} (hvorav {{ctrl.ticket.ticketgroup.fee|price}} i avgift)
                </div>
            </div>

            <div class="form-group">
                <label for="paymentgroup" class="col-sm-4 control-label">Oppgjørsgruppe</label>
                <div class="col-sm-7">
                    <select class="form-control" id="paymentgroup" ng-options="(g.time_start|formatdate:'DD.MM.YYYY HH:mm ') + '(' + g.user_created + '): ' + g.title for g in ctrl.paymentgroups" ng-model="ctrl.active_paymentgroup" ng-change="ctrl.changePaymentgroup()" autofocus required>
                        <option value="" ng-if="!ctrl.active_paymentgroup">Velg ...</option>
                    </select>
                    <span class="help-block">
                        <a ui-sref="admin-paymentgroup-new({eventgroup_id: ctrl.order.eventgroup.id})">Opprett ny</a>
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-7 col-sm-offset-4">
                    <input class="btn btn-danger" type="submit" value="Tilbaketrekk billett">
                    <button type="button" class="btn btn-default" ng-click="ctrl.cancel()">Avbryt</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-body text-center" ng-if="ctrl.sending">Utfører ...</div>
</div>
