name: autofix.ci # needed to securely identify the workflow
on:
  pull_request:
jobs:
  autofix:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          package_json_file: frontend/package.json
      - run: pnpm install
        working-directory: frontend
      - run: pnpm run lint --fix
        working-directory: frontend
      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
