name: backend
on:
  workflow_dispatch:
  push:
    paths:
      - ".github/workflows/backend.yml"
      - "backend/**"
      - "nginx/**"
      - "simplesamlphp/**"
      - "Dockerfile*"
jobs:
  backend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        if: github.ref == 'refs/heads/main'
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build nginx container
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          file: Dockerfile.nginx
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build fpm container
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          file: Dockerfile.fpm
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Push nginx container
        id: nginx_docker_build
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          file: Dockerfile.nginx
          push: true
          tags: ghcr.io/blindern/billett-proxy:latest

      - name: Push fpm container
        id: fpm_docker_build
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          file: Dockerfile.fpm
          push: true
          tags: ghcr.io/blindern/billett-backend:latest

      - name: Deploy
        if: github.ref == 'refs/heads/main'
        run: |
          curl -sS -i -N -L -H "authorization: bearer $DEPLOYER_TOKEN" -H "content-type: application/json" -X POST "https://deployer.foreningenbs.no/deploy?stream" -d '
          {
            "service": "uka-billett",
            "attributes": {
              "fpm_image": "ghcr.io/blindern/billett-backend@${{ steps.fpm_docker_build.outputs.digest }}",
              "proxy_image": "ghcr.io/blindern/billett-proxy@${{ steps.nginx_docker_build.outputs.digest }}"
            }
          }' | tee /tmp/deploy-output.txt
          tail -1 /tmp/deploy-output.txt | grep -q "DEPLOY OK"
        env:
          DEPLOYER_TOKEN: ${{ secrets.DEPLOYER_TOKEN }}

  e2e-tests:
    if: github.ref == 'refs/heads/main'
    needs: backend
    permissions:
      contents: read
    uses: ./.github/workflows/run-e2e-tests.yml
    with:
      tag: "@api"
    secrets: inherit
