name: frontend
on:
  workflow_dispatch:
  push:
    paths:
      - ".github/workflows/frontend.yml"
      - "frontend/**"
jobs:
  frontend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    defaults:
      run:
        working-directory: frontend

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          package_json_file: frontend/package.json

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: "24"

      - run: pnpm install
      - run: pnpm run lint
      - run: pnpm run build

      - name: Build docker image
        id: docker_build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: frontend
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: ghcr.io/blindern/billett-frontend:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy
        if: github.ref == 'refs/heads/main'
        run: |
          curl -sS -i -N -L -H "authorization: bearer $DEPLOYER_TOKEN" -H "content-type: application/json" -X POST "https://deployer.foreningenbs.no/deploy?stream" -d '
          {
            "service": "uka-billett",
            "attributes": {
              "frontend_image": "ghcr.io/blindern/billett-frontend@${{ steps.docker_build.outputs.digest }}"
            }
          }' | tee /tmp/deploy-output.txt
          tail -1 /tmp/deploy-output.txt | grep -q "DEPLOY OK"
        env:
          DEPLOYER_TOKEN: ${{ secrets.DEPLOYER_TOKEN }}

  e2e-tests:
    if: github.ref == 'refs/heads/main'
    needs: frontend
    permissions:
      contents: read
    uses: ./.github/workflows/run-e2e-tests.yml
    with:
      tag: "@frontend"
    secrets: inherit
