/*
 * shared between most pages which links back to eventgroup in header
 */
.page-header {
    h1 {
        .eventgroup {
            display: block;
            font-size: 14px;
            a {
                color: #888;
                text-transform: uppercase;
            }
        }
    }
}


.table-tbody-spacing > tbody:before {
    line-height: 10px;
    content: '-';
    visibility: hidden;
    display: block;
}

.eventgroup-page {
    .events-table {
        tbody {
            &::before {
                line-height: 20px;
                content: '-';
                visibility: hidden;
                display: block;
            }
            tr:nth-child(even) {
                td,
                th {
                    background-color: $table-bg-accent;
                }
            }
            th {
                font-weight: normal;
                color: #444;
                background: transparent !important;
                border-top: none;
                border-bottom-width: 2px;
            }
            tr:nth-child(2) td {
                border-top-width: 2px !important;
            }
            tr:nth-child(1),
            tr:nth-child(2),
            tr:nth-child(4) {
                white-space: nowrap;
            }
        }
    }
}


/*
 * shared between admin/eventgroup and guest/eventgroup
 */
.admin-eventgroup, .eventgroup-page {
    .edit-link-container {
        position: relative;

        .edit-link-wrap {
            position: absolute;
            left: 0;
            display: none;
            .edit-link {
                position: absolute;
                right: 0;
                top: -4px;
                background-color: $btn-primary-bg;
                a {
                    color: $btn-primary-color;
                    display: block;
                    padding: 4px;
                }
            }
        }
        &:hover {
            .edit-link-wrap {
                display: block;
            }
        }
    }
}
