<div class="admin-eventgroup">
    <page-property name="title" value="{{group.title}}"></page-property>

    <div class="page-header">
        <h1>
            <span class="eventgroup">
                <a href="a">Administrasjon</a>
            </span>
            {{group.title}}
        </h1>
    </div>

    <ul>
        <li><a ng-href="a/eventgroup/{{group.id}}/sold_tickets_stats">Billettstatistikk (salgsoversikt)</a></li>
        <li><a ng-href="a/orders?tickets.event.eventgroup.id={{group.id}}">Ordreliste</a></li>
        <li><a ng-href="a/eventgroup/{{group.id}}/paymentgroups">Betalingsgrupper/oppgjør</a></li>
    </ul>

    <hr>

    <h2>
        Arrangementliste
        <span class="pull-right">
            <a href="a/eventgroup/{{group.id}}/new_event" class="btn btn-default">Nytt arrangement</a>
        </span>
    </h2>


    <div ng-show="group.events.length == 0">
        <p>Ingen arrangementer eksisterer.</p>
    </div>

    <div ng-show="group.events.length > 0">
        <div class="form-inline">
            <select class="form-control" ng-model="filter_sale" ng-change="applyFilter()">
                <option value="">Vis alle salgsmodus</option>
                <option value="1">Kun med billettgrupper</option>
                <option value="0">Kun uten billettgrupper</option>
            </select>
            <select class="form-control" ng-model="filter_category" ng-change="applyFilter()">
                <option value="-1">Vis alle kategorier</option>
                <option ng-repeat="opt in categories" value="{{opt}}">{{opt||'Tom kategori'}}</option>
            </select>
            <select class="form-control" ng-model="filter_hidden" ng-change="applyFilter()">
                <option value="0">Ikke vis skjulte oppføringer</option>
                <option value="1">Vis kun sjulte oppføringer</option>
                <option value="">Vis alle oppføringer</option>
            </select>
        </div>

        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Varighet</th>
                    <th>Kategori</th>
                    <th>Sted</th>
                    <th>Tittel</th>
                    <th>Salg</th>
                    <th>Tilg.</th>
                    <th>Omsatt</th>
                    <th>Pub</th>
                    <th>Billett-<br>info</th>
                </tr>
            </thead>
            <tbody ng-repeat="(day, events) in days">
                <tr>
                    <th colspan="9">{{events[0].time_start-21600|formatdate:'dddd D. MMMM YYYY'}}</th>
                </tr>
                <tr ng-repeat="event in events" ng-class="{ 'event-not-published': !event.is_published, 'event-no-selling': !event.is_selling }">
                    <td>
                        <b>{{event.time_start|formatdate:'HH:mm'}}</b>
                        <span ng-show="event.time_end && event.time_end != event.time_start">
                            -
                            {{event.time_end|formatdate:'HH:mm'}}
                        </span>
                    </td>
                    <td>{{event.category}}</td>
                    <td>{{event.location}}</td>
                    <td class="edit-link-container">
                        <div class="edit-link-wrap">
                            <span class="edit-link">
                                <a ng-href="a/event/{{event.id}}/edit">Rediger</a>
                                <a ng-href="event/{{event.id}}">Forhåndsvis</a>
                            </span>
                        </div>
                        <a ng-href="a/event/{{event.id}}">{{event.title}}</a>
                    </td>
                    <td>
                        <span ng-show="event.max_sales != 0 || event.ticket_count.totals.valid != 0">
                            <a ng-href="a/orders?tickets.event.id={{::event.id}}">{{::event.ticket_count.totals.valid}}</a>
                        </span>
                    </td>
                    <td>{{event.max_sales == 0 ? '' : event.ticket_count.totals.free}}</td>
                    <td>{{event.max_sales == 0 && event.ticket_count.totals.valid == 0 ? '' : (event.ticket_count.totals.sum_price+event.ticket_count.totals.sum_fee|price)}}</td>
                    <td class="eventgroup-event-action" ng-click="eventTogglePublish(event)"><i class="glyphicon" ng-class="event.is_published ? 'glyphicon-ok' : 'glyphicon-remove'"></i></td>
                    <td class="eventgroup-event-action" ng-click="eventToggleSelling(event)"><i class="glyphicon" ng-class="{'event-not-selling': !event.is_selling, 'glyphicon-bullhorn': event.is_selling, 'glyphicon-question-sign': !event.is_selling}"></i></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>